Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

remove seed-isort-config in dlrover pre-commit.
  .pre-commit-config.yaml
Due: none

remove seed-isort-config in dlrover pre-commit. (#431)
  .pre-commit-config.yaml
Due: none

Refactor the setup for elastic training
  dlrover/trainer/torch/elastic.py
  docs/tutorial/pytorch_training.md
  model_zoo/pytorch/mnist_cnn.py
  model_zoo/pytorch/mnist_lightning.py
Due: copyright_checker

Fomat codes
  model_zoo/pytorch/mnist_lightning.py
Due: copyright_checker

Fix by comments
  docs/tutorial/pytorch_training.md
Due: none

Refactor the setup for elastic training. (#432)
  dlrover/trainer/torch/elastic.py
  docs/tutorial/pytorch_training.md
  model_zoo/pytorch/mnist_cnn.py
  model_zoo/pytorch/mnist_lightning.py
Due: copyright_checker

Fix the bug in the example of python lightning
  dlrover/examples/torch_mnist_master_backend_job.yaml
  model_zoo/pytorch/mnist_lightning.py
Due: copyright_checker

Skip to set the master addr if the master is not available
  dlrover/python/elastic_agent/master_client.py
  dlrover/trainer/torch/elastic.py
  model_zoo/pytorch/mnist_cnn.py
  model_zoo/pytorch/mnist_lightning.py
Due: copyright_checker

Fix the bug in the example of python lightning. (#433)
  dlrover/examples/torch_mnist_master_backend_job.yaml
  dlrover/python/elastic_agent/master_client.py
  dlrover/trainer/torch/elastic.py
  model_zoo/pytorch/mnist_cnn.py
  model_zoo/pytorch/mnist_lightning.py
Due: copyright_checker

Set MASTER_ADDR into env only if it is not empty
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Broadcast MASTER_PORT of rank-0 to other workers
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Fix log
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Broadcast the master port to workers
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Set timeout to set MASTER_ADDR
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Set MASTER_ADDR into env only if it is not empty. (#434)
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

auto acc add device and model context.
  atorch/atorch/auto/__init__.py
  atorch/atorch/auto/auto_accelerate_context.py
  atorch/atorch/auto/device_context.py
  atorch/atorch/auto/model_context.py
  atorch/atorch/auto/strategy.py
  atorch/atorch/data/__init__.py
  atorch/atorch/data/data_utils.py
  atorch/atorch/data/preloader.py
  atorch/atorch/data/shm_context.py
  atorch/atorch/data/shm_dataloader.py
  atorch/atorch/distributed/.distributed.py.swp
  atorch/atorch/distributed/__init__.py
  atorch/atorch/distributed/distributed.py
  atorch/atorch/tests/auto_accelerate_context_test.py
  atorch/atorch/tests/device_context_test.py
  atorch/atorch/tests/file_io_test.py
  atorch/atorch/tests/log_util_test.py
  atorch/atorch/tests/model_context_test.py
  atorch/atorch/tests/toy_module.py
Due: copyright_checker

Set version
  setup.py
Due: copyright_checker

fix lint.
  atorch/atorch/data/__init__.py
Due: copyright_checker

auto acc add device and model context. (#436)
  atorch/atorch/auto/__init__.py
  atorch/atorch/auto/auto_accelerate_context.py
  atorch/atorch/auto/device_context.py
  atorch/atorch/auto/model_context.py
  atorch/atorch/auto/strategy.py
  atorch/atorch/data/__init__.py
  atorch/atorch/data/data_utils.py
  atorch/atorch/data/preloader.py
  atorch/atorch/data/shm_context.py
  atorch/atorch/data/shm_dataloader.py
  atorch/atorch/distributed/.distributed.py.swp
  atorch/atorch/distributed/__init__.py
  atorch/atorch/distributed/distributed.py
  atorch/atorch/tests/auto_accelerate_context_test.py
  atorch/atorch/tests/device_context_test.py
  atorch/atorch/tests/file_io_test.py
  atorch/atorch/tests/log_util_test.py
  atorch/atorch/tests/model_context_test.py
  atorch/atorch/tests/toy_module.py
Due: copyright_checker

tfplus init.
  .pre-commit-config.yaml
  tfplus/.bazelrc
  tfplus/.gitignore
  tfplus/.pre-commit-config.yaml
  tfplus/.pylint
  tfplus/LICENSE
  tfplus/README.md
  tfplus/WORKSPACE
  tfplus/dev/docker/Dockerfile.cpu
  tfplus/dev/docker/Dockerfile.gpu
  tfplus/dev/scripts/build.sh
  tfplus/dev/scripts/clean.sh
  tfplus/dev/scripts/config_helper.py
  tfplus/dev/scripts/configure.sh
  tfplus/dev/scripts/pip.conf
  tfplus/dev/scripts/pre-commit.sh
  tfplus/dev/scripts/prepare.sh
  tfplus/doc/build.md
  tfplus/setup.py
  tfplus/tests/demo_test.py
  tfplus/tfplus/BUILD
  tfplus/tfplus/README.md
  tfplus/tfplus/__init__.py
  tfplus/tfplus/__main__.py
  tfplus/tfplus/cc/demo.cc
  tfplus/tfplus/cc/demo.h
  tfplus/tfplus/cc/demo_test.cc
  tfplus/tfplus/python/__init__.py
  tfplus/tfplus/python/common/__init__.py
  tfplus/tfplus/python/demo.py
  tfplus/tfplus/version.py
  tfplus/third_party/README.md
  tfplus/third_party/tf/BUILD
  tfplus/third_party/tf/BUILD.tpl
  tfplus/third_party/tf/tf_configure.bzl
Due: clang-format, cpplint-cpp-source, copyright_checker

tfplus init.
  .pre-commit-config.yaml
  tfplus/doc/build.md
Due: none

tfplus init.
  .pre-commit-config.yaml
  tfplus/dev/docker/Dockerfile.cpu
  tfplus/dev/docker/pip.conf
Due: none

tfplus init.
  .github/actions/tfplus-pre-commit/action.yml
  .github/actions/tfplus-python-test/action.yml
  .github/workflows/main.yml
  tfplus/.pre-commit-config.yaml
  tfplus/.pylint
  tfplus/dev/docker/Dockerfile.cpu
  tfplus/dev/scripts/config_helper.py
  tfplus/dev/scripts/pip.conf
  tfplus/dev/scripts/pre-commit.sh
  tfplus/dev/scripts/prepare.sh
  tfplus/doc/build.md
  tfplus/setup.py
  tfplus/tests/demo_test.py
  tfplus/tfplus/__init__.py
  tfplus/tfplus/__main__.py
  tfplus/tfplus/cc/demo.h
  tfplus/tfplus/python/__init__.py
  tfplus/tfplus/python/common/__init__.py
  tfplus/tfplus/python/demo.py
Due: clang-format, cpplint-cpp-source, copyright_checker

Fix version to 0.1.3rc0
  setup.py
Due: copyright_checker

Set version to v1.3.0
  setup.py
Due: copyright_checker

Restore version
  setup.py
Due: copyright_checker

add tfplus init as skeleton. (#437)
  .github/actions/tfplus-pre-commit/action.yml
  .github/actions/tfplus-python-test/action.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  tfplus/.bazelrc
  tfplus/.gitignore
  tfplus/.pre-commit-config.yaml
  tfplus/.pylint
  tfplus/LICENSE
  tfplus/README.md
  tfplus/WORKSPACE
  tfplus/dev/docker/Dockerfile.cpu
  tfplus/dev/docker/Dockerfile.gpu
  tfplus/dev/docker/pip.conf
  tfplus/dev/scripts/build.sh
  tfplus/dev/scripts/clean.sh
  tfplus/dev/scripts/config_helper.py
  tfplus/dev/scripts/configure.sh
  tfplus/dev/scripts/pip.conf
  tfplus/dev/scripts/pre-commit.sh
  tfplus/dev/scripts/prepare.sh
  tfplus/doc/build.md
  tfplus/setup.py
  tfplus/tests/demo_test.py
  tfplus/tfplus/BUILD
  tfplus/tfplus/README.md
  tfplus/tfplus/__init__.py
  tfplus/tfplus/__main__.py
  tfplus/tfplus/cc/demo.cc
  tfplus/tfplus/cc/demo.h
  tfplus/tfplus/cc/demo_test.cc
  tfplus/tfplus/python/__init__.py
  tfplus/tfplus/python/common/__init__.py
  tfplus/tfplus/python/demo.py
  tfplus/tfplus/version.py
  tfplus/third_party/README.md
  tfplus/third_party/tf/BUILD
  tfplus/third_party/tf/BUILD.tpl
  tfplus/third_party/tf/tf_configure.bzl
Due: clang-format, cpplint-cpp-source, copyright_checker

turn on tfplus ci.
  .github/actions/tfplus-python-test/action.yml
  .github/workflows/main.yml
  tfplus/dev/scripts/build.sh
  tfplus/dev/scripts/build_and_test.sh
Due: copyright_checker

turn on tfplus ci. (#438)
  .github/actions/tfplus-python-test/action.yml
  .github/workflows/main.yml
  tfplus/dev/scripts/build.sh
  tfplus/dev/scripts/build_and_test.sh
Due: copyright_checker

install fairscale
  .github/actions/atorch-python-test/action.yml
Due: none

break long line
  .github/actions/atorch-python-test/action.yml
Due: none

python3.10
  .github/actions/atorch-python-test/action.yml
Due: none

update layers
  atorch/atorch/modules/transformer/layers.py
Due: copyright_checker

Worker report its rank to master for log
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
  dlrover/trainer/torch/elastic.py
Due: clang-format, copyright_checker

Overwrite torchrun to register dlrover_master
  dlrover/trainer/tests/torch/elastic_test.py
  dlrover/trainer/torch/main.py
Due: copyright_checker

Cast rank to int
  dlrover/python/elastic_agent/master_client.py
Due: copyright_checker

Format codes
  dlrover/trainer/torch/main.py
Due: copyright_checker

Do not broadcast MASTER_PORT
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$, but not: dlrover/go/brain/vendor
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: dlrover/go/brain/vendor
  copyright_checker: any of: \.(go|py|sh)$, but not: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
