Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        # yamllint disable-line rule:line-length
        exclude: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (elasticdl/python/tests/data|operator/config|dlrover/go/brain/vendor)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

Fix to configure GPU resource in the scaleplan
  dlrover/python/master/scaler/elasticjob_scaler.py
  dlrover/python/tests/test_elasticjob_scaler.py
Due: copyright_checker

Minikube gpu enable support added.
  dlrover/examples/torch_mnist_master_backend_job.yaml
Due: none

Set a magic number to a constant
  dlrover/python/elastic_agent/sharding/client.py
Due: copyright_checker

Set the max number of shards for workers who can exits together for sync training . (#380)
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/trainer/torch/elastic_dataset.py
Due: copyright_checker

Checkpoint model and dataset for elasticity and fault-tolerance
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/shard/base_dataset_manager.py
  dlrover/python/master/shard/batch_dataset_manager.py
  dlrover/python/master/shard/dataset_splitter.py
  dlrover/python/master/shard/task_manager.py
  dlrover/python/tests/test_dataset_task_manager.py
  dlrover/trainer/torch/elastic.py
  dlrover/trainer/torch/elastic_dataset.py
  model_zoo/pytorch/mnist_cnn.py
Due: clang-format, copyright_checker

Set the default value of checkpoint path to an empty string
  dlrover/trainer/torch/elastic_dataset.py
  model_zoo/pytorch/mnist_cnn.py
Due: copyright_checker

Reformat codes
  dlrover/trainer/torch/elastic_dataset.py
Due: copyright_checker

Fix test cases
  dlrover/python/master/shard/batch_dataset_manager.py
  dlrover/python/tests/test_dataset_splitter.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

add nvida-plugin-config.
  dlrover/examples/torch_mnist_master_backend_job.yaml
  dlrover/go/operator/config/gpu/nvidia-device-plugin-gpu-shared.yaml
  docs/developer_guide.md
Due: none

Add time-slicing to get more gpu resource.
  docs/developer_guide.md
Due: none

fix job yaml
  dlrover/examples/torch_mnist_master_backend_job.yaml
Due: none

Add helm command to update nvidia-k8s -device-plugin.
  docs/developer_guide.md
Due: none

Fix formatting issues.
  docs/developer_guide.md
Due: none

Checkpoint dataset shards and restore those shards when restarting workers. (#382)
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/shard/base_dataset_manager.py
  dlrover/python/master/shard/batch_dataset_manager.py
  dlrover/python/master/shard/dataset_splitter.py
  dlrover/python/master/shard/task_manager.py
  dlrover/python/tests/test_dataset_splitter.py
  dlrover/python/tests/test_dataset_task_manager.py
  dlrover/trainer/torch/elastic.py
  dlrover/trainer/torch/elastic_dataset.py
  model_zoo/pytorch/mnist_cnn.py
Due: clang-format, copyright_checker

remove nvidia.com/gpu from torch_mnist_master_job to make gpu optional.
  dlrover/examples/torch_mnist_master_backend_job.yaml
Due: none

Add tutorial to enable GPU support on minikube cluster. (#383)
  dlrover/examples/torch_mnist_master_backend_job.yaml
  dlrover/go/operator/config/gpu/nvidia-device-plugin-gpu-shared.yaml
  docs/developer_guide.md
Due: none

Update developer_guide.md
  docs/developer_guide.md
Due: none

Move the online-learning into the design folder
  docs/online_learning.md
Due: none

A doc to develop a PyTorch model using elastic training of DLRover
  docs/tutorial/pytorch_training.md
  model_zoo/pytorch/mnist_cnn.py
Due: copyright_checker

Fix the title format
  docs/tutorial/pytorch_training.md
Due: none

Support the scale down PS if some PS nodes fails
  dlrover/proto/elastic_training.proto
  dlrover/python/common/global_context.py
  dlrover/python/common/node.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_ps_manager.py
Due: clang-format, copyright_checker

Set the version to 0.2.0rc0.dev0
  dlrover/requirements.txt
  setup.py
Due: copyright_checker

Set the extra-require for different DL frameworks
  docs/tutorial/estimator.md
  setup.py
Due: copyright_checker

Fix by comments
  docs/tutorial/pytorch_training.md
Due: none

Polish the tutorial to devvelop pytorch models
  docs/tutorial/pytorch_training.md
Due: none

A doc to develop a PyTorch model using elastic training of DLRover. (#387)
  docs/tutorial/pytorch_training.md
  model_zoo/pytorch/mnist_cnn.py
Due: copyright_checker

Support the scale down PS if some PS nodes fails (#388)
  dlrover/proto/elastic_training.proto
  dlrover/python/common/global_context.py
  dlrover/python/common/node.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_ps_manager.py
Due: clang-format, copyright_checker

Set the extra-require for different DL frameworks. (#389)
  dlrover/requirements.txt
  docs/tutorial/estimator.md
  setup.py
Due: copyright_checker

Check whether alive workers contains the worker before removing it
  dlrover/python/master/elastic_training/rdzv_service.py
Due: copyright_checker

Create service name with the rank index
  dlrover/python/master/scaler/pod_scaler.py
Due: copyright_checker

Add test cases to scale up pods
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

Check whether alive workers contains the worker before removing it. (#390)
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

minor fix to developer guide
  docs/developer_guide.md
Due: none

support ps failure
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/examples/scale_plan.yaml
  dlrover/trainer/tensorflow/failover/failover_client.py
  dlrover/trainer/tensorflow/failover/tensorflow_failover.py
  dlrover/trainer/tensorflow/util/tf_patch_util.py
Due: copyright_checker

add
  dlrover/trainer/constants/tf_constants.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tensorflow/util/estimator_util.py
  dlrover/trainer/tensorflow/util/tf_patch_util.py
Due: copyright_checker

add test
  dlrover/examples/scale_plan.yaml
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tensorflow/failover/tensorflow_failover.py
  dlrover/trainer/tensorflow/util/estimator_util.py
  dlrover/trainer/tensorflow/util/tf_patch_util.py
Due: copyright_checker

reformat
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/examples/deepctr_manual_scale_job.yaml
  dlrover/examples/scale_plan.yaml
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

reformat
  dlrover/trainer/constants/tf_constants.py
  dlrover/trainer/tensorflow/failover/tensorflow_failover.py
  dlrover/trainer/tensorflow/util/estimator_util.py
  dlrover/trainer/tensorflow/util/tf_patch_util.py
Due: copyright_checker
