Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

Add build logo
  README.md
Due: none

Add clang-format
  scripts/codestyle/clang_format.hook
Due: none

Format proto
  dlrover/proto/brain.proto
  dlrover/proto/elastic_training.proto
Due: clang-format

Implement PodWatcher to get all pods
  dlrover/python/common/constants.py
  dlrover/python/master/node_watcher/__init__.py
  dlrover/python/master/node_watcher/base_watcher.py
  dlrover/python/master/node_watcher/pod_watcher.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_node_watcher.py
  dlrover/python/tests/test_pod_watcher.py
Due: copyright_checker

Format codes
  dlrover/python/common/constants.py
  dlrover/python/master/node_watcher/__init__.py
  dlrover/python/master/node_watcher/base_watcher.py
  dlrover/python/master/node_watcher/pod_watcher.py
  dlrover/python/tests/test_node_watcher.py
  dlrover/python/tests/test_pod_watcher.py
Due: copyright_checker

Format codes
  dlrover/python/master/node_watcher/__init__.py
  dlrover/python/tests/test_node_watcher.py
Due: copyright_checker

Fix go test
  .github/actions/go-test/action.yml
Due: none

update proto
  dlrover/proto/brain.proto
Due: clang-format

add config manager
  dlrover/go/brain/pkg/common/error_handler.go
  dlrover/go/brain/pkg/config/controller.go
  dlrover/go/brain/pkg/config/manager.go
  dlrover/go/brain/pkg/proto/brain.pb.go
  dlrover/go/brain/pkg/server/server.go
  dlrover/go/brain/pkg/utils/time.go
  dlrover/proto/brain.proto
Due: clang-format, copyright_checker

add brain server
  dlrover/go/brain/pkg/common/error_handler.go
  dlrover/go/brain/pkg/config/common.go
  dlrover/go/brain/pkg/config/controller.go
  dlrover/go/brain/pkg/config/manager.go
  dlrover/go/brain/pkg/datastore/manager.go
  dlrover/go/brain/pkg/proto/brain.pb.go
  dlrover/go/brain/pkg/server/server.go
  dlrover/go/brain/pkg/utils/time.go
  dlrover/proto/brain.proto
Due: clang-format, copyright_checker

add optimizer
  dlrover/go/brain/pkg/common/job.go
  dlrover/go/brain/pkg/common/job_resource.go
  dlrover/go/brain/pkg/common/optimize_plan.go
  dlrover/go/brain/pkg/config/common.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_metrics_recorder.go
  dlrover/go/brain/pkg/optimizer/api/config_retriever.go
  dlrover/go/brain/pkg/optimizer/api/optimizer.go
  dlrover/go/brain/pkg/optimizer/config/config.go
  dlrover/go/brain/pkg/optimizer/config_retriever_manager.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/optimizer.go
  dlrover/go/brain/pkg/optimizer/manager.go
  dlrover/go/brain/pkg/utils/job.go
Due: copyright_checker

run test
  .github/actions/go-test/action.yml
Due: none

Refactor CI actions
  .github/actions/brain-test/action.yml
  .github/actions/operator-test/action.yml
  .github/actions/trainer-test/action.yml
  .github/workflows/main.yml
Due: none

add streaming dataset splitter
  dlrover/python/master/shard_manager/batch_dataset_manager.py
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/master/shard_manager/task_manager.py
  dlrover/python/tests/test_dataset_splitter.py
Due: copyright_checker

add streaming dataset manager
  dlrover/python/master/shard_manager/streaming_dataset_manager.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

Get the flow of node status
  dlrover/python/master/node_manager/status_flow.py
  dlrover/python/tests/test_status_flow.py
Due: copyright_checker

Format codes
  dlrover/python/common/constants.py
  dlrover/python/common/resource.py
  dlrover/python/master/node_manager/status_flow.py
  dlrover/python/master/node_watcher/base_watcher.py
  dlrover/python/master/node_watcher/pod_watcher.py
  dlrover/python/master/resource_generator/base_generator.py
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_k8s_scaler.py
  dlrover/python/tests/test_resource_generator.py
  dlrover/python/tests/test_status_flow.py
Due: copyright_checker

Implement a NodeManager to monitor training nodes
  dlrover/python/master/node_manager/event_callback.py
  dlrover/python/master/node_manager/job_config.py
  dlrover/python/master/node_manager/node_manager.py
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_pod_watcher.py
  dlrover/python/tests/test_status_flow.py
  dlrover/python/tests/test_task_manager.py
  dlrover/python/tests/test_utils.py
Due: copyright_checker

Check status of all nodes
  dlrover/python/common/constants.py
  dlrover/python/master/node_manager/event_callback.py
  dlrover/python/master/node_manager/node_manager.py
  dlrover/python/tests/test_node_manager.py
Due: copyright_checker

Args for DLRover training master
  dlrover/python/master/args.py
  dlrover/python/tests/test_args.py
Due: copyright_checker

Remove workers
  dlrover/python/master/node_manager/node_manager.py
Due: copyright_checker

Implement a MetricCollector to collect job metrics
  dlrover/python/master/stats_collector/base_collector.py
  dlrover/python/master/stats_collector/local_collector.py
  dlrover/python/master/stats_collector/metrics_collector.py
  dlrover/python/master/stats_collector/stats_collector.py
  dlrover/python/master/stats_collector/training_metrics.py
  dlrover/python/tests/test_local_stats_collector.py
  dlrover/python/tests/test_stats_collector.py
Due: copyright_checker

Format codes
  dlrover/python/master/stats_collector/metrics_collector.py
  dlrover/python/master/stats_collector/stats_collector.py
  dlrover/python/master/stats_collector/training_metrics.py
  dlrover/python/tests/test_stats_collector.py
Due: copyright_checker

Rename files
  dlrover/python/master/stats_collector/job_collector.py
  dlrover/python/master/stats_collector/reporter.py
  dlrover/python/tests/test_stats_collector.py
Due: copyright_checker

Format codes
  .isort.cfg
  dlrover/go/brain/pkg/proto/brain.pb.go
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/common/resource.py
  dlrover/python/elastic_training/elastic_ps.py
  dlrover/python/master/args.py
  dlrover/python/master/main.py
  dlrover/python/master/master.py
  dlrover/python/master/monitor/speed_monitor.py
  dlrover/python/master/node_manager/event_callback.py
  dlrover/python/master/node_manager/job_config.py
  dlrover/python/master/node_manager/node_manager.py
  dlrover/python/master/node_watcher/base_watcher.py
  dlrover/python/master/node_watcher/pod_watcher.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/shard_manager/task_manager.py
  dlrover/python/master/stats_collector/job_collector.py
  dlrover/python/master/stats_collector/reporter.py
  dlrover/python/tests/test_k8s_scaler.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_speed_monitor.py
  dlrover/python/tests/test_stats_collector.py
  dlrover/python/tests/test_utils.py
Due: clang-format, copyright_checker

Set TFPSNodeHandlingCallback for PS training
  dlrover/python/master/master.py
  dlrover/python/master/node_manager/node_manager.py
  dlrover/python/tests/test_node_manager.py
Due: copyright_checker

add optimizer
  dlrover/go/brain/pkg/optimizer/config/config.go
  dlrover/go/brain/pkg/optimizer/config_retriever_manager.go
  dlrover/go/brain/pkg/optimizer/implementation/configretriever/base_config_retriever.go
  dlrover/go/brain/pkg/optimizer/implementation/configretriever/config_retriever.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/base_optimizer.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/optimizer.go
Due: copyright_checker

fix go test errors
  dlrover/go/brain/pkg/config/manager.go
  dlrover/go/brain/pkg/config/utils/time.go
  dlrover/go/brain/pkg/datastore/implementation/base_datastore.go
Due: copyright_checker

Implement job resource optimizer
  dlrover/python/common/constants.py
  dlrover/python/master/node_manager/node_manager.py
  dlrover/python/master/node_watcher/base_watcher.py
  dlrover/python/master/resource/__init__.py
  dlrover/python/master/resource/base_generator.py
  dlrover/python/master/resource/brain_optimizer.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/scaler/base_scaler.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/tests/test_k8s_scaler.py
  dlrover/python/tests/test_resource_generator.py
Due: copyright_checker

simplify the name of directory
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/job_config.py
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/node/status_flow.py
  dlrover/python/master/resource/__init__.py
  dlrover/python/master/resource/base_generator.py
  dlrover/python/master/scaler/base_scaler.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/shard/__init__.py
  dlrover/python/master/shard/base_dataset_manager.py
  dlrover/python/master/shard/batch_dataset_manager.py
  dlrover/python/master/shard/dataset_splitter.py
  dlrover/python/master/shard/task_manager.py
  dlrover/python/master/stats/__init__.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/master/stats/reporter.py
  dlrover/python/master/stats/training_metrics.py
  dlrover/python/master/watcher/__init__.py
  dlrover/python/master/watcher/base_watcher.py
  dlrover/python/master/watcher/pod_watcher.py
  dlrover/python/tests/test_dataset_splitter.py
  dlrover/python/tests/test_dataset_task_manager.py
  dlrover/python/tests/test_k8s_scaler.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_pod_watcher.py
  dlrover/python/tests/test_resource_generator.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_stats_collector.py
  dlrover/python/tests/test_task_manager.py
  dlrover/python/tests/test_utils.py
Due: copyright_checker

Implement the resource optimizer which queries resource plan from the DLRover brain
  dlrover/python/brain/client.py
  dlrover/python/common/grpc_utils.py
  dlrover/python/common/node.py
  dlrover/python/common/resource.py
  dlrover/python/master/node/job_config.py
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/resource/base_generator.py
  dlrover/python/master/resource/brain_optimizer.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/resource/local_optimizer.py
  dlrover/python/master/resource/optimizer.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/tests/test_k8s_scaler.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_resource_generator.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

add cluster monitor design
  docs/design/dlrover-overview.md
Due: none

Implement an ElasticJob to manage Pods
  dlrover/python/common/constants.py
  dlrover/python/common/node.py
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_k8s_elasticjob.py
Due: copyright_checker

Format codes
  .isort.cfg
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_k8s_elasticjob.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$, but not: easydl/go/vendor
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: easydl/go/vendor
  copyright_checker: any of: \.(go|py|sh)$, but not: (easydl/go/pkg/proto/easydl.pb.go|easydl/go/vendor)
