Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v0.701
#     hooks:
#       - id: mypy
#         args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: easydl/go/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: easydl/go/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: easydl/go/vendor
      - id: go-lint
        exclude: easydl/go/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: easydl/go/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        exclude: (easydl/go/pkg/proto/easydl.pb.go|easydl/go/vendor)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (elasticdl/python/tests/data|operator/config)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (easydl/go/vendor)
        args: [-s, .markdownlint.yaml]

Generate a Scaler CRD
  dlrover/python/master/scaler/__init__.py
  dlrover/python/master/scaler/base_scaler.py
  dlrover/python/master/scaler/k8s_scaler.py
  operator/api/v1alpha1/scaler_types.go
Due: copyright_checker

Format codes
  dlrover/python/master/resource_generator/__init__.py
  dlrover/python/master/resource_generator/base_generator.py
Due: copyright_checker

Format codes
  dlrover/python/master/resource_generator/__init__.py
Due: copyright_checker

k8s scaler generate a Scaler CRD by the resource configuration plan
  dlrover/python/common/resource.py
  dlrover/python/master/resource_generator/base_generator.py
  dlrover/python/master/scaler/__init__.py
  dlrover/python/master/scaler/base_scaler.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/tests/test_k8s_scaler.py
Due: copyright_checker

Apply a Scaler CRD to the cluster according to a resource configuration plan
  .isort.cfg
  dlrover/python/common/log_utils.py
  dlrover/python/common/singleton_utils.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/scheduler/__init__.py
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_k8s_scaler.py
Due: copyright_checker

Format codes
  .isort.cfg
  dlrover/python/common/log_utils.py
  dlrover/python/common/singleton_utils.py
  dlrover/python/scheduler/__init__.py
  dlrover/python/scheduler/kubernetes.py
Due: copyright_checker

Install kubernetes for UT
  .github/actions/py-test/action.yml
Due: none

Split dataset into shards
  dlrover/python/master/shard_manager/__init__.py
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/tests/test_dataset_splitter.py
Due: copyright_checker

Format codes
  dlrover/python/master/shard_manager/__init__.py
  dlrover/python/master/shard_manager/dataset_splitter.py
Due: copyright_checker

job metrics table design
  docs/design/database-table-design.md
Due: none

update pre-commit config
  .pre-commit-config.yaml
Due: none

add comments
  docs/design/database-table-design.md
Due: none

Mange data shards
  dlrover/python/master/shard_manager/base_shard_manager.py
  dlrover/python/master/shard_manager/batch_shard_manager.py
Due: copyright_checker

Fix a spelling error
  docs/design/training-master.md
Due: none

job metrics table design
  docs/design/db-design.md
Due: none

update job metrics table design
  docs/design/db-design.md
Due: none

Implement the dataset task manager to dispatch shards to workers
  dlrover/python/common/constants.py
  dlrover/python/master/shard_manager/base_task_manager.py
  dlrover/python/master/shard_manager/batch_shard_manager.py
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/master/shard_manager/dataset_task_manager.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

Format codes
  dlrover/python/common/constants.py
  dlrover/python/master/shard_manager/base_task_manager.py
  dlrover/python/master/shard_manager/dataset_task_manager.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

Rename a function
  dlrover/python/master/shard_manager/base_task_manager.py
  dlrover/python/master/shard_manager/dataset_task_manager.py
Due: copyright_checker

Update completed steps
  dlrover/python/master/shard_manager/base_task_manager.py
  dlrover/python/master/shard_manager/dataset_task_manager.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

Implement a speed monitor to collect the training speed
  dlrover/python/common/global_context.py
  dlrover/python/master/monitor/__init__.py
  dlrover/python/master/monitor/speed_monitor.py
  dlrover/python/tests/test_speed_monitor.py
Due: copyright_checker

Format codes
  dlrover/python/common/global_context.py
  dlrover/python/master/monitor/__init__.py
  dlrover/python/master/monitor/speed_monitor.py
Due: copyright_checker

Rename dataset manager
  dlrover/python/master/shard_manager/base_dataset_manager.py
  dlrover/python/master/shard_manager/batch_dataset_manager.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

Format codes
  dlrover/python/master/monitor/__init__.py
Due: copyright_checker

Format codes
  dlrover/python/master/shard_manager/batch_dataset_manager.py
Due: copyright_checker

Implement TaskManager to manage tasks of dataset
  dlrover/Makefile
  dlrover/proto/brain.proto
  dlrover/proto/elastic_training.proto
  dlrover/python/master/shard_manager/base_dataset_manager.py
  dlrover/python/master/shard_manager/batch_dataset_manager.py
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/master/shard_manager/task_manager.py
  dlrover/python/tests/test_dataset_splitter.py
  dlrover/python/tests/test_dataset_task_manager.py
  dlrover/python/tests/test_task_manager.py
Due: clang-format, copyright_checker

Format codes
  .github/actions/py-test/action.yml
  dlrover/python/master/shard_manager/task_manager.py
  dlrover/python/tests/test_task_manager.py
Due: copyright_checker
