Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        # yamllint disable-line rule:line-length
        exclude: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (elasticdl/python/tests/data|operator/config|dlrover/go/brain/vendor)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

Set platform to pyk8s of master
  dlrover/go/operator/pkg/controllers/master/master.go
Due: copyright_checker

Simplify the log directory of rank
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

Set platform to pyk8s of master (#456)
  dlrover/go/operator/pkg/controllers/master/master.go
Due: copyright_checker

Remove the method to check recoverable error
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

Remove test cases
  dlrover/trainer/tests/torch/elastic_test.py
Due: copyright_checker

Remove unused imports
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

format and test
  atorch/atorch/auto/engine/servicer.py
  atorch/atorch/tests/acc_executor_test.py
  atorch/atorch/tests/acc_planner_test.py
  atorch/atorch/tests/acc_strategy_test.py
  atorch/atorch/tests/auto_acc_client_test.py
  atorch/atorch/tests/auto_acc_servicer_test.py
  atorch/atorch/tests/auto_accelerate_test.py
  atorch/atorch/tests/dryrunner_test.py
  atorch/atorch/tests/test_utils.py
Due: copyright_checker

Format codes
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

fix
  .github/actions/atorch-pre-commit/action.yml
  .github/actions/atorch-python-test/action.yml
  atorch/.pre-commit-config.yaml
Due: none

Catch the exception to check whether membership change. (#454)
  dlrover/trainer/tests/torch/elastic_test.py
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

fix tests
  atorch/atorch/tests/auto_accelerate_test.py
Due: copyright_checker

exclude servicer.py to avoid mypy error
  atorch/.pre-commit-config.yaml
Due: none

fix ut
  atorch/atorch/tests/auto_accelerate_test.py
Due: copyright_checker

Retry if there is an execption to call k8s api (#455)
  dlrover/python/scheduler/kubernetes.py
Due: copyright_checker

Rendezvous manager to assign the rank to nodes
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_torch_manager.py
Due: copyright_checker

Format codes
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
Due: copyright_checker

Add test cases
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/master.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_torch_manager.py
  dlrover/python/tests/test_torch_rdzv.py
Due: copyright_checker

Format codes
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/main.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_torch_manager.py
  dlrover/trainer/tests/torch/elastic_test.py
  dlrover/trainer/torch/elastic.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/main.py
  model_zoo/pytorch/mnist_cnn.py
  model_zoo/pytorch/mnist_lightning.py
  setup.py
Due: clang-format, copyright_checker

Remove debug codes
  dlrover/python/master/main.py
Due: copyright_checker

Set timeout to 120s
  model_zoo/pytorch/mnist_cnn.py
Due: copyright_checker

Get rendezvous round index from master
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
  dlrover/trainer/torch/elastic_run.py
Due: clang-format, copyright_checker

lock to resturn rdzv_nodes
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Fix the bug to remove exited nodes
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/tests/test_torch_manager.py
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

Add docstring
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

add aprofiler for atorch.
  atorch/atorch/common/constants.py
  atorch/atorch/requirements.txt
  atorch/atorch/tests/profiler_test.py
  atorch/atorch/utils/__init__.py
  atorch/atorch/utils/metrics_reporter.py
  atorch/atorch/utils/prof.py
  atorch/atorch/utils/timer.py
  atorch/dev/scripts/build.sh
Due: copyright_checker

Report node failures to master
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
  dlrover/trainer/torch/elastic_run.py
Due: clang-format, copyright_checker

Agent reports node failures to master when the process fails
  dlrover/proto/elastic_training.proto
  dlrover/trainer/torch/elastic_run.py
Due: clang-format, copyright_checker

add aprofiler for atorch. (#461)
  atorch/atorch/common/constants.py
  atorch/atorch/requirements.txt
  atorch/atorch/tests/profiler_test.py
  atorch/atorch/utils/__init__.py
  atorch/atorch/utils/metrics_reporter.py
  atorch/atorch/utils/prof.py
  atorch/atorch/utils/timer.py
  atorch/dev/scripts/build.sh
Due: copyright_checker

Use dlrover-run in the elasticjob of torch
  dlrover/examples/torch_mnist_master_backend_job.yaml
Due: none

Return response
  dlrover/python/master/servicer.py
Due: copyright_checker

Lock to log error data
  dlrover/python/master/servicer.py
Due: copyright_checker

The agent reports process error message to DLRover master. (#462)
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
  dlrover/trainer/torch/elastic_run.py
Due: clang-format, copyright_checker

Add docstring to next_rendezvous
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

Rendezvous manager to assign the rank to nodes. (#458)
  dlrover/examples/torch_mnist_master_backend_job.yaml
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_torch_manager.py
  dlrover/python/tests/test_torch_rdzv.py
  dlrover/trainer/tests/torch/elastic_test.py
  dlrover/trainer/torch/elastic.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/main.py
  model_zoo/pytorch/mnist_cnn.py
  model_zoo/pytorch/mnist_lightning.py
  setup.py
Due: clang-format, copyright_checker

Rdzv manager to check NCCL
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/elastic_agent/torch/nccl_check.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_elastic_training_agent.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/python/tests/test_torch_manager.py
  dlrover/trainer/torch/elastic_run.py
Due: clang-format, copyright_checker
