Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
exclude: '^atorch/|^tfplus/'
repos:
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        exclude: \.(deepcopy.go|pb.go)$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (dlrover/python/tests/data|operator/config)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

Update backgroud to illustrate challenges brought by llm.
  docs/design/autotuing-design.md
Due: none

Fix markdown linting.
  docs/design/autotuing-design.md
Due: none

Formatting the hierarchy.
  docs/design/autotuing-design.md
Due: none

Refactor: Simplify the proto message definition. (#651)
  dlrover/proto/elastic_training.proto
  dlrover/python/common/grpc.py
  dlrover/python/common/serialize.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/monitor/metrics.py
  dlrover/python/elastic_agent/monitor/resource.py
  dlrover/python/elastic_agent/monitor/training.py
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/elastic_agent/sychronization/sync_client.py
  dlrover/python/elastic_agent/tensorflow/elastic_ps.py
  dlrover/python/elastic_agent/tensorflow/hooks.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/main.py
  dlrover/python/master/node/dist_job_manager.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/resource/local_optimizer.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/shard/task_manager.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/master/stats/reporter.py
  dlrover/python/master/stats/training_metrics.py
  dlrover/python/master/watcher/k8s_watcher.py
  dlrover/python/tests/test_agent_monitor.py
  dlrover/python/tests/test_grpc_utils.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_master_client.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_sharding_client.py
  dlrover/python/tests/test_task_manager.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  examples/tensorflow/iris/iris_dnn_elastic.py
Due: clang-format, copyright_checker

change license to add ds/transformers/megatron
  LICENSE
Due: none

Refactor: move elastic APIs into a folder.
  dlrover/python/common/grpc.py
  dlrover/python/master/servicer.py
  dlrover/trainer/tests/torch/elastic_dataloader_test.py
  dlrover/trainer/tests/torch/elastic_sampler_test.py
  dlrover/trainer/tests/torch/elastic_test.py
  dlrover/trainer/torch/elastic/__init__.py
  dlrover/trainer/torch/elastic/dataloader.py
  dlrover/trainer/torch/elastic/sampler.py
  dlrover/trainer/torch/elastic/trainer.py
  dlrover/trainer/torch/utils.py
  docs/tutorial/pytorch_training.md
  examples/pytorch/mnist/cnn_train.py
  examples/pytorch/mnist/lightning_train.py
  examples/pytorch/nanogpt/train_lightning.py
Due: copyright_checker

Add test cases.
  dlrover/python/tests/test_servicer.py
  dlrover/trainer/torch/elastic/__init__.py
Due: copyright_checker

Format codes.
  dlrover/trainer/torch/elastic/__init__.py
Due: copyright_checker

Add extened config into the resource plan.
  dlrover/python/master/resource/optimizer.py
Due: copyright_checker

Add extened config into the resource plan. (#658)
  dlrover/python/master/resource/optimizer.py
Due: copyright_checker

Feat: Update batch size by the config from the master.
  dlrover/python/common/grpc.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_master_client.py
  dlrover/python/tests/test_servicer.py
  dlrover/trainer/constants/torch.py
  dlrover/trainer/torch/elastic/dataloader.py
Due: copyright_checker

feat(trainer): Add SharedStorageManager for checkpoint management in ElasticTrainer
  dlrover/python/common/grpc.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/dist_job_manager.py
  dlrover/python/master/node/local_job_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/scheduler/job.py
  dlrover/trainer/torch/elastic/trainer.py
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

Fix test cases.
  dlrover/python/common/grpc.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/trainer/constants/torch.py
  dlrover/trainer/tests/torch/elastic_dataloader_test.py
  dlrover/trainer/torch/elastic/dataloader.py
  docs/design/autotuing-design.md
Due: copyright_checker

Submit the doc
  docs/design/autotuing-design.md
Due: none

Fix test cases.
  dlrover/python/tests/test_master_client.py
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

Fix to write the config file.
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Reduce the target number of worker if it is completed.
  dlrover/python/master/node/worker.py
Due: copyright_checker

Reduce the target number of workers.
  dlrover/python/master/node/event_callback.py
Due: copyright_checker

Add test cases to reduce the target number of worker.
  dlrover/python/master/node/event_callback.py
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

Set the job name and uid into env.
  dlrover/python/common/constants.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

[BugFix]: Reduce the target number of worker if it is completed. (#665)
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/worker.py
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

Add the docstring into the K8sClient.
  dlrover/python/scheduler/kubernetes.py
Due: copyright_checker

Feat: Update batch size by the config from the master. (#659)
  dlrover/python/common/grpc.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_master_client.py
  dlrover/python/tests/test_servicer.py
  dlrover/trainer/constants/torch.py
  dlrover/trainer/tests/torch/elastic_dataloader_test.py
  dlrover/trainer/torch/elastic/dataloader.py
  docs/design/autotuing-design.md
Due: copyright_checker

Format codes.
  dlrover/python/scheduler/kubernetes.py
Due: copyright_checker

[docstring] Add the docstring into the K8sClient. (#668)
  dlrover/python/scheduler/kubernetes.py
Due: copyright_checker

Bugfix: all agent can update rendezvous params.
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Bugfix: all agent can update rendezvous params. (#669)
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Restore the deprecated APIs.
  dlrover/python/master/stats/training_metrics.py
Due: copyright_checker

install deprecated.
  .github/actions/atorch-python-test/action.yml
Due: none

Fix test cases.
  .github/actions/atorch-python-test/action.yml
  .github/actions/dlrover-python-test/action.yml
  .github/actions/dlrover-system-test-deepfm/action.yaml
  .github/actions/dlrover-system-test-tf2/action.yaml
Due: none

Install deprecated in the requirement.
  setup.py
Due: copyright_checker

Pip install deprecated
  examples/tensorflow/criteo_deeprec/run.sh
Due: copyright_checker

Restore the deprecated APIs. (#670)
  .github/actions/dlrover-python-test/action.yml
  .github/actions/dlrover-system-test-deepfm/action.yaml
  .github/actions/dlrover-system-test-tf2/action.yaml
  dlrover/python/master/stats/training_metrics.py
  examples/tensorflow/criteo_deeprec/run.sh
  setup.py
Due: copyright_checker

Install vim, gdb in the master image.
  docker/Dockerfile
Due: none

Split the method to report node status and node address.
  dlrover/python/common/grpc.py
  dlrover/python/common/log.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
Due: copyright_checker

Fix test cases.
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

Install vim, gdb in the master image. (#671)
  dlrover/python/common/grpc.py
  dlrover/python/common/log.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_servicer.py
  docker/Dockerfile
Due: copyright_checker

Remove the log to debug the status of network checking.
  dlrover/python/master/servicer.py
Due: copyright_checker

Remove the log to debug the status of network checking. (#672)
  dlrover/python/master/servicer.py
Due: copyright_checker
