Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

fix wrong docstr. (#562)
  atorch/atorch/auto/engine/__init__.py
  atorch/atorch/auto/engine/acceleration_engine.py
  atorch/atorch/auto/engine/analyser_result.py
  atorch/atorch/auto/engine/client.py
  atorch/atorch/auto/engine/executor.py
  atorch/atorch/auto/engine/optimization_method.py
  atorch/atorch/auto/engine/planner.py
  atorch/atorch/auto/engine/servicer.py
  atorch/atorch/auto/engine/sg_algo/__init__.py
  atorch/atorch/auto/engine/sg_algo/bo_sg.py
  atorch/atorch/auto/engine/sg_algo/combination_sg.py
  atorch/atorch/auto/engine/sg_algo/hebo/acq_optimizers/evolution_optimizer.py
  atorch/atorch/auto/engine/sg_algo/hebo/acquisitions/acq.py
  atorch/atorch/auto/engine/sg_algo/hebo/design_space/categorical_param.py
  atorch/atorch/auto/engine/sg_algo/hebo/design_space/design_space.py
  atorch/atorch/auto/engine/sg_algo/hebo/design_space/param.py
  atorch/atorch/auto/engine/sg_algo/hebo/models/base_model.py
  atorch/atorch/auto/engine/sg_algo/hebo/models/gp/gpy_wgp.py
  atorch/atorch/auto/engine/sg_algo/hebo/models/layers.py
  atorch/atorch/auto/engine/sg_algo/hebo/models/model_factory.py
  atorch/atorch/auto/engine/sg_algo/hebo/models/rf/rf.py
  atorch/atorch/auto/engine/sg_algo/hebo/models/util.py
  atorch/atorch/auto/engine/sg_algo/hebo/optimizers/abstract_optimizer.py
  atorch/atorch/auto/engine/sg_algo/hebo/optimizers/hebo.py
  atorch/atorch/auto/engine/sg_algo/hebo/optimizers/util.py
  atorch/atorch/auto/engine/sg_algo/sg_algo_lib.py
  atorch/atorch/auto/engine/sg_algo/sg_algorithm.py
  atorch/atorch/auto/engine/sg_algo/utils.py
  atorch/atorch/auto/engine/strategy.py
  atorch/atorch/auto/engine/task.py
  atorch/atorch/distributed/launch.py
  atorch/atorch/tests/acc_executor_test.py
  atorch/atorch/tests/acc_planner_test.py
  atorch/atorch/tests/acc_strategy_test.py
  atorch/atorch/tests/auto_acc_client_test.py
  atorch/atorch/tests/auto_acc_servicer_test.py
Due: none

Format codes
  dlrover/python/master/watcher/k8s_watcher.py
Due: copyright_checker

Update torch_dpp_nanogpt.md (#560)
  docs/tutorial/torch_dpp_nanogpt.md
Due: none

Test cases of max incremental memory
  dlrover/python/master/watcher/k8s_watcher.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

Migrate the PS node regardless of the node status. (#568)
  dlrover/python/common/constants.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/watcher/k8s_watcher.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

Report the timeout message of rendezvous to the master.
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Report the timeout message of rendezvous to the master. (#569)
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

refactor(model_zoo): support fsdp in mnist_cnn example
  dlrover/examples/torch_mnist_fsdp_job.yaml
  model_zoo/pytorch/mnist_cnn.py
Due: copyright_checker

feat(docker): add a gpu-trainer dockerfile
  docker/pytorch/gpu-trainer.dockerfile
Due: none

feat(docs): add gpu user guide
  docs/tutorial/gpu_user_guide.md
Due: none

Report the message to the master when the nodes scale down.
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Classify the training error message from the agent.
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/monitor/error_monitor.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
Due: clang-format, copyright_checker

Fix test cases
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

Update train.py
  model_zoo/pytorch/nanogpt/train.py
Due: copyright_checker

Classify the training error message from the agent. (#570)
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/monitor/error_monitor.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_job_manager.py
Due: clang-format, copyright_checker

Set node released to True if the pod is not found.
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Set node released to True if the pod is not found. (#572)
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Execute the scaleplan only when the plan is not empty.
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

Execute the scaleplan only when the plan is not empty. (#573)
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

Add the example to train a GPT model in README.
  README.md
  docs/tutorial/torch_on_cloud.md
Due: none

Update train.py (#571)
  model_zoo/pytorch/nanogpt/train.py
Due: copyright_checker

Check the connection of address before building a grpc channel.
  dlrover/python/common/grpc.py
Due: copyright_checker

Check the format of the service address.
  dlrover/python/common/grpc.py
Due: copyright_checker

Add test cases
  dlrover/python/tests/test_grpc_utils.py
Due: copyright_checker

Do not set the parameters of context when initializing it.
  dlrover/python/common/global_context.py
  dlrover/python/master/main.py
Due: copyright_checker

Refactor: shorten the length of the name of parameters.
  dlrover/python/common/global_context.py
Due: copyright_checker

Fix the default value of the sample count to adjust worker
  dlrover/python/common/global_context.py
  dlrover/python/master/main.py
Due: copyright_checker

Do not set the parameters of context when initializing it. (#577)
  dlrover/python/common/global_context.py
  dlrover/python/master/main.py
Due: copyright_checker

Format codes
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/tests/test_job_auto_scaler.py
Due: copyright_checker

Fix test cases
  dlrover/python/master/scaler/pod_scaler.py
Due: copyright_checker

Set PS address into the scale plan if relaunch pending Pods. (#578)
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/tests/test_job_auto_scaler.py
Due: copyright_checker

Skip the empty scale plan.
  dlrover/python/master/scaler/pod_scaler.py
Due: copyright_checker

Skip the empty scale plan. (#579)
  dlrover/python/master/scaler/pod_scaler.py
Due: copyright_checker

Rename relaunch-error to relaunch-always
  dlrover/python/common/global_context.py
  dlrover/python/master/args.py
  dlrover/python/master/main.py
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Parse relaunch strategy from the job specification.
  dlrover/python/master/args.py
  dlrover/python/master/main.py
  dlrover/python/scheduler/job.py
  dlrover/python/scheduler/kubernetes.py
Due: copyright_checker

Rename relaunch-error to relaunch-always. (#580)
  dlrover/python/common/global_context.py
  dlrover/python/master/args.py
  dlrover/python/master/main.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/scheduler/job.py
  dlrover/python/scheduler/kubernetes.py
Due: copyright_checker

Add the WeChat group name.
  README.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$ and not (dlrover/go/brain/vendor) and not (^atorch/|^tfplus/)
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$ and not (dlrover/go/brain/vendor) and not (^atorch/|^tfplus/)
  copyright_checker: any of: \.(go|py|sh)$ and not (\.(deepcopy.go|pb.go)$) and not (^atorch/|^tfplus/)
