Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

Formatting code.
  dlrover/trainer/tests/torch/elastic_dataloader_test.py
  dlrover/trainer/torch/elastic_dataloader.py
Due: copyright_checker

Refactor load_config by comment to simplize parameter pass avoiding unnecessary creation of variable.
  dlrover/trainer/tests/torch/elastic_dataloader_test.py
  dlrover/trainer/torch/elastic_dataloader.py
Due: copyright_checker

Design to dynamically optimize the distributed training.
  docs/design/dynamic-optimization.md
  docs/figures/dynamic-opt-arch.jpg
Due: none

Fix the example of config.
  docs/design/dynamic-optimization.md
Due: none

Feat(trainer): Add elastic dataloader with changeable batch size. (#641)
  dlrover/trainer/tests/torch/elastic_dataloader_test.py
  dlrover/trainer/torch/elastic_dataloader.py
Due: copyright_checker

feat(trainer): introduce CheckpointInterval and enhance ElasticTrainer
  dlrover/trainer/tests/torch/elastic_test.py
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

doc(fsdp): add fsdp design doc
  docs/design/fsdp-design.md
Due: none

doc(fsdp): add fsdp design doc
  docs/design/fsdp-design.md
  docs/figures/fsdp-resharding.png
Due: none

Doc: fix by comments.
  docs/design/dynamic-optimization.md
Due: none

Feat: Implement the message of distributed strategy.
  dlrover/proto/elastic_training.proto
  dlrover/python/common/strategy.py
Due: clang-format, copyright_checker

feat(docs): add fsdp design en doc
  docs/design/fsdp-design-en.md
Due: none

Fix the node name in the log of ElasticAgent
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Fix: markdownlink check the format of markdown documents.
  docs/blogs/deeprec_autoscale_cn.md
  docs/blogs/stabilize_llm_training_cn.md
  docs/deployment/controller.md
  docs/deployment/k8s.md
  docs/design/db-design.md
  docs/design/dlrover-overview.md
  docs/design/scale-node-design.md
  docs/design/streaming-data-splitter-and-manager.md
  docs/design/training-master.md
  docs/design/virtual-env.md
  docs/developer_guide.md
  docs/tutorial/check_env.md
  docs/tutorial/estimator.md
  docs/tutorial/fault_tolerations.md
  docs/tutorial/gpu_user_guide.md
  docs/tutorial/pytorch_training.md
  docs/tutorial/tf_ps_on_cloud.md
  docs/tutorial/torch_ddp_nanogpt.md
  docs/tutorial/torch_fsdp_nanogpt.md
  docs/tutorial/torch_on_cloud.md
Due: none

Add markdown config
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  dlrover/go/operator/README.md
Due: none

Format markdown
  docs/design/dynamic-optimization.md
Due: none

Refactor: rename model_metric to model_info
  dlrover/proto/elastic_training.proto
  dlrover/python/common/parallelism_config.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/tensorflow/hooks.py
  dlrover/python/master/servicer.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/master/stats/reporter.py
  dlrover/python/master/stats/training_metrics.py
  dlrover/python/tests/test_servicer.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  examples/tensorflow/iris/iris_dnn_elastic.py
Due: clang-format, copyright_checker

Fix: Do not remove the ps node when relaunching it.
  dlrover/python/master/node/dist_job_manager.py
  dlrover/python/master/node/ps.py
Due: copyright_checker

Fix test cases.
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

Fix: Do not remove the ps node when relaunching it. (#646)
  dlrover/python/master/node/dist_job_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

Fix: only update the node status when the status flow.
  dlrover/python/master/node/dist_job_manager.py
Due: copyright_checker

doc(fsdp): add fsdp design doc
  docs/design/fsdp-design-zh.md
Due: none

Fix: only update the node status when the status flow. (#647)
  dlrover/python/master/node/dist_job_manager.py
Due: copyright_checker

Release package on the dependent branch.
  .aci.yml
Due: none

Do not check whether the evaluator hangs.
  dlrover/python/master/node/dist_job_manager.py
Due: copyright_checker

Do not check whether the evaluator hangs. (#648)
  dlrover/python/master/node/dist_job_manager.py
Due: copyright_checker

Fix: set the default value of retry as 2 to check network.
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Fix: set the default value of retry as 2 to check network. (#650)
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Refactor: refator the proto message definition.
  dlrover/proto/elastic_training.proto
  dlrover/python/common/grpc.py
  dlrover/python/common/parallelism_config.py
  dlrover/python/common/serialize.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/monitor/metrics.py
  dlrover/python/elastic_agent/monitor/resource.py
  dlrover/python/elastic_agent/monitor/training.py
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/elastic_agent/tensorflow/elastic_ps.py
  dlrover/python/elastic_agent/tensorflow/hooks.py
  dlrover/python/master/main.py
  dlrover/python/master/node/dist_job_manager.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/resource/local_optimizer.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/shard/task_manager.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/master/stats/reporter.py
  dlrover/python/master/stats/training_metrics.py
  dlrover/python/master/watcher/k8s_watcher.py
  dlrover/python/tests/test_agent_monitor.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_master_client.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_sharding_client.py
  dlrover/python/tests/test_task_manager.py
Due: clang-format, copyright_checker

Move the position of DataLoderConfig
  dlrover/python/common/grpc.py
Due: copyright_checker

Retry to send grpc message.
  dlrover/python/common/grpc.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/sychronization/sync_client.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_master_client.py
Due: copyright_checker

Add test cases.
  dlrover/python/common/grpc.py
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_agent_monitor.py
  dlrover/python/tests/test_grpc_utils.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_master_client.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_sharding_client.py
Due: copyright_checker

Fix test cases.
  dlrover/python/tests/test_master_client.py
Due: copyright_checker

Design to dynamically optimize the distributed training. (#642)
  docs/design/dynamic-optimization.md
  docs/figures/dynamic-opt-arch.jpg
Due: none

Fix expressions by comment.
  docs/design/autotuing-design.md
Due: none

Fix the abbreviation formulation, e.g. params for parameters.
  docs/design/autotuing-design.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$ and not (dlrover/go/brain/vendor) and not (^atorch/|^tfplus/)
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$ and not (dlrover/go/brain/vendor) and not (^atorch/|^tfplus/)
  copyright_checker: any of: \.(go|py|sh)$ and not (\.(deepcopy.go|pb.go)$) and not (^atorch/|^tfplus/)
