Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
exclude: '^atorch/|^tfplus/'
repos:
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        exclude: \.(deepcopy.go|pb.go)$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (dlrover/python/tests/data|operator/config)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

Rename worker_num_unit to node_unit
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_rdzv_manager.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_rdzv_manager.py
Due: copyright_checker

Do not remove the failed node after relaunching it.
  dlrover/python/common/node.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/training_node.py
  dlrover/python/tests/test_worker_manager.py
Due: copyright_checker

Format codes
  dlrover/python/common/node.py
  dlrover/python/tests/test_worker_manager.py
Due: copyright_checker

Do not remove the node after relaunching it.
  dlrover/python/common/node.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/training_node.py
Due: copyright_checker

Do not remove the node after relaunching it. (#492)
  dlrover/python/common/node.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/training_node.py
Due: copyright_checker

add agd optimizer
  atorch/atorch/optimizers/agd.py
Due: none

Fix version
  setup.py
Due: copyright_checker

add demo of nanoGPT
  atorch/atorch/benchmarks/optimizers/nanogpt/LICENSE
  atorch/atorch/benchmarks/optimizers/nanogpt/README.md
  atorch/atorch/benchmarks/optimizers/nanogpt/config/train_gpt2.py
  atorch/atorch/benchmarks/optimizers/nanogpt/configurator.py
  atorch/atorch/benchmarks/optimizers/nanogpt/model.py
  atorch/atorch/benchmarks/optimizers/nanogpt/train.py
  atorch/atorch/optimizers/agd.py
Due: none

Integrate default-role.yaml into Kustomization to avoid possible permissions issues.
  dlrover/go/operator/config/manifests/bases/default-role.yaml
  dlrover/go/operator/config/manifests/bases/kustomization.yaml
  docs/deployment/controller.md
Due: none

The manager notifies workers to restart processes only when the number of nodes is a multiple of node unit
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/master.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/servicer.py
  dlrover/python/master/watcher/k8s_watcher.py
Due: copyright_checker

Remove context switch setting to fit the real scene.
  docs/deployment/controller.md
Due: none

Build rendzvous only when the number of new nodes is bigger than node unit
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/master.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/trainer/torch/run_network_check.py
Due: copyright_checker

Commit the cover page of dlrover slices
  docs/figures/dlrover-cover.jpg
Due: none

Add state flows from initial to failed or deleted
  dlrover/python/master/node/status_flow.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

Remove the replicated file default_role.yaml.
  dlrover/go/operator/config/rbac/default_role.yaml
Due: none

Add state flows from initial to failed or deleted. (#495)
  dlrover/python/master/node/status_flow.py
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

FIx the yaml file in the tutorial
  docs/deployment/controller.md
  docs/tutorial/torch_allreduce_on_cloud.md
Due: none

Scale down nodes with the number unit if not enough nodes. (#490)
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/master.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/servicer.py
  dlrover/python/master/watcher/k8s_watcher.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/run_network_check.py
Due: clang-format, copyright_checker

Integrate default-role.yaml into Kustomization. (#493)
  dlrover/go/operator/config/manifests/bases/default-role.yaml
  dlrover/go/operator/config/manifests/bases/kustomization.yaml
  docs/deployment/controller.md
Due: none

FIx the yaml file in the tutorial (#496)
  docs/deployment/controller.md
  docs/tutorial/torch_allreduce_on_cloud.md
Due: none

Format codes
  dlrover/python/master/cluster/quota.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/resource/local_optimizer.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_job_auto_scaler.py
  dlrover/python/tests/test_local_optimizer.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

Scale up nodes when there are free nodes
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/resource/job.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_job_auto_scaler.py
Due: copyright_checker

Scale up nodes according the free number in the cluster. (#497)
  dlrover/python/master/cluster/quota.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/resource/local_optimizer.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_job_auto_scaler.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_local_optimizer.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

Rename the folder of dlrover open day with the year 2023
  docs/blogs/openday_20230708/ACK-on-DLRover-Open-Day.pdf
  docs/blogs/openday_20230708/DLRover-on-Open-day.pdf
  docs/blogs/openday_20230708/DeepRec-on-DLRover-Open-Day.pdf
  docs/blogs/openday_20230708/GLake-on-DLRover-Open-Day.pdf
Due: none

Parse host ip from the Pod event
  dlrover/python/common/node.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/watcher/k8s_watcher.py
Due: copyright_checker

Format codes
  dlrover/python/master/watcher/k8s_watcher.py
Due: copyright_checker

Support the odd number of nodes to check network.
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Record the host ip of pod. (#499)
  dlrover/python/common/node.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/watcher/k8s_watcher.py
Due: copyright_checker

Support the odd number of nodes to check network. (#500)
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Fix tutorial yaml file naming.
  docs/deployment/controller.md
  docs/tutorial/torch_allreduce_on_cloud.md
Due: none

Fix tutorial yaml file naming. (#501)
  docs/deployment/controller.md
  docs/tutorial/torch_allreduce_on_cloud.md
Due: none

Fix the name of rdzv manager in logs
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Fix the name of rdzv manager in logs (#502)
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker
