Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
exclude: '^atorch/|^tfplus/'
repos:
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        exclude: \.(deepcopy.go|pb.go)$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (dlrover/python/tests/data|operator/config)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

Remove test in the image name of pytroch to train CNN with mnist
  dlrover/examples/torch_mnist_job.yaml
Due: none

Remove test in the image name of pytroch to train CNN with mnist (#503)
  dlrover/examples/torch_mnist_job.yaml
Due: none

Add steps to run pre-commit and unittest
  dlrover/examples/troch_debug_job.yaml
  docs/developer_guide.md
Due: none

Fix formats
  docs/developer_guide.md
Due: none

Fix num_nodes_waiting function argument issue.
  dlrover/python/elastic_agent/master_client.py
Due: copyright_checker

Fix num_nodes_waiting function argument issue. (#507)
  dlrover/python/elastic_agent/master_client.py
Due: copyright_checker

Add a new line character at the end of file
  dlrover/examples/troch_debug_job.yaml
Due: none

Add steps to run pre-commit and unittest. (#504)
  dlrover/examples/troch_debug_job.yaml
  docs/developer_guide.md
Due: none

Add the dockerfile to build the image of mnist
  docker/pytorch/mnist.dockerfile
Due: none

Dockerfile to build torch image
  docker/pytorch/torch113-cpu.dockerfile
Due: none

rm the line to install dlrover from dist
  docker/pytorch/mnist.dockerfile
Due: none

Format codes
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/master.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/tests/test_elastic_training_agent.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_elastic_training_agent.py
Due: copyright_checker

Add the dockerfile to build the image of mnist. (#508)
  docker/pytorch/mnist.dockerfile
  docker/pytorch/torch113-cpu.dockerfile
Due: none

Fix test cases
  dlrover/python/tests/test_rdzv_manager.py
Due: copyright_checker

Remove nodes in the rendezvous from waiting nodes
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Set the default timeout to 300s
  dlrover/python/elastic_agent/master_client.py
Due: copyright_checker

The handler waits if it is not in a valid world
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

fix(docs): update pytorch training tutorial doc
  docs/tutorial/pytorch_training.md
Due: none

Remove the round to test allgather with all nodes
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
Due: clang-format, copyright_checker

fix(docs): update pytorch training tutorial doc (#511)
  docs/tutorial/pytorch_training.md
Due: none

Use master nodes when the job has no chief nodes
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

Format codes
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Use master nodes when the job has no chief nodes. (#513)
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Add the detail to support fault tolerance of PyTorch
  README.md
Due: none

Add comparsion for TF fault tolerance
  README.md
Due: none

Fix table format
  README.md
Due: none

Add the detail to support fault tolerance of PyTorch. (#514)
  README.md
Due: none

Fix(yaml): Fix file naming and mirror pulling policy for local debugging.
  dlrover/examples/torch_debug_job.yaml
Due: none

Fix(docs): Fix docker tag to prevent confusion with controller image.
  docs/developer_guide.md
Due: none

Rename the yaml metadata to prevent test tasks from conflicting with tutorial tasks.
  dlrover/examples/torch_debug_job.yaml
Due: none

Fix files for local debugging. (#515)
  dlrover/examples/torch_debug_job.yaml
  docs/developer_guide.md
Due: none

Replace a magic number with a variable
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Agent not in rendezvous waits for more nodes. (#509)
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/master.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/tests/test_elastic_training_agent.py
  dlrover/python/tests/test_rdzv_manager.py
Due: copyright_checker
