Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        # yamllint disable-line rule:line-length
        exclude: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (elasticdl/python/tests/data|operator/config|dlrover/go/brain/vendor)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

update logo and fix comments.
  README.md
  docs/figures/dlrover_logo.png
Due: none

update logo and home.
  README.md
  docs/figures/dlrover_logo.png
Due: none

update logo size.
  README.md
Due: none

Mock APIs of k8s client to execute test cases
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

add run info
  dlrover/trainer/examples/estimator_executor/ps_address_172.17.0.2:41527
  dlrover/trainer/examples/estimator_executor/ps_address_172.17.0.2:41879
Due: none

initial_commit
  dlrover/client/platform/ray/ray_job_submitter.py
  dlrover/client/tests/platform/ray/demo.yaml
  dlrover/client/tests/platform/ray/run.py
  dlrover/client/tests/platform/ray/test_scheduling.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/stats/stats_backend.py
  dlrover/python/master/watcher/ray_watcher.py
  dlrover/python/scheduler/factory.py
  dlrover/python/scheduler/job.py
  dlrover/python/scheduler/ray.py
  dlrover/python/tests/data/demo.yaml
  dlrover/python/tests/test.json
  dlrover/python/tests/test_ray_client.py
  dlrover/python/tests/test_ray_job_args.py
  dlrover/python/tests/test_ray_scaler.py
  dlrover/python/tests/test_ray_watcher.py
  dlrover/python/tests/test_state_backend.py
  dlrover/python/tests/test_utils.py
  dlrover/python/util/__init__.py
  dlrover/python/util/queue/__init__.py
  dlrover/python/util/queue/queue.py
  dlrover/python/util/state/__init__.py
  dlrover/python/util/state/memory_store.py
  dlrover/python/util/state/stats_backend.py
  dlrover/python/util/state/store_mananger.py
Due: copyright_checker

add mock ray
  dlrover/trainer/examples/estimator_executor/log5990
  dlrover/trainer/examples/estimator_executor/log6000
  dlrover/trainer/examples/estimator_executor/log6001
  dlrover/trainer/examples/estimator_executor/log6238
  dlrover/trainer/examples/estimator_executor/log6248
  dlrover/trainer/examples/estimator_executor/log6249
Due: none

add info
  dlrover/trainer/examples/estimator_executor/log5990
  dlrover/trainer/examples/estimator_executor/log6000
  dlrover/trainer/examples/estimator_executor/log6001
  dlrover/trainer/examples/estimator_executor/log6238
  dlrover/trainer/examples/estimator_executor/log6248
  dlrover/trainer/examples/estimator_executor/log6249
  dlrover/trainer/examples/estimator_executor/mock_k8s_run.sh
  dlrover/trainer/examples/estimator_executor/mock_ray_run.sh
  dlrover/trainer/examples/estimator_executor/ps_address_172.17.0.2:41527
  dlrover/trainer/examples/estimator_executor/ps_address_172.17.0.2:41879
  dlrover/trainer/mock/tf_process_scheduler.py
  dlrover/trainer/platform/starter.py
  dlrover/trainer/tensorflow/executor/base_executor.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tests/worker/tf_ray_worker_test.py
  dlrover/trainer/util/args_util.py
  dlrover/trainer/worker/tf_ray_worker.py
Due: copyright_checker

add node event and type
  dlrover/client/platform/ray/__int__.py
  dlrover/client/tests/platform/ray/demo.yaml
  dlrover/client/tests/platform/ray/run.py
  dlrover/client/tests/platform/ray/test_ray_submit_job.py
  dlrover/client/tests/platform/ray/test_scheduling.py
  dlrover/proto/elastic_training.proto
  dlrover/python/common/node.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
Due: clang-format, copyright_checker

add event
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
Due: clang-format, copyright_checker

info
  .github/actions/dlrover-system-test-tf115/action.yaml
  .github/actions/dlrover-system-test-tf2/action.yaml
Due: none

info
  .github/actions/dlrover-system-test-tf2/action.yaml
Due: none

info
  .github/actions/dlrover-system-test-tf115/action.yaml
  .github/actions/dlrover-system-test-tf2/action.yaml
  dlrover/client/platform/ray/ray_job_submitter.py
  dlrover/client/tests/platform/ray/run.py
  dlrover/client/tests/platform/ray/test_scheduling.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/scaler/factory.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/stats/stats_backend.py
  dlrover/python/master/watcher/factory.py
  dlrover/python/master/watcher/ray_watcher.py
  dlrover/python/scheduler/factory.py
  dlrover/python/scheduler/job.py
  dlrover/python/scheduler/ray.py
  dlrover/python/tests/test_ray_client.py
  dlrover/python/tests/test_ray_job_args.py
  dlrover/python/tests/test_ray_scaler.py
  dlrover/python/tests/test_ray_watcher.py
  dlrover/python/tests/test_state_backend.py
  dlrover/python/tests/test_utils.py
  dlrover/python/util/__init__.py
  dlrover/python/util/queue/__init__.py
  dlrover/python/util/queue/queue.py
  dlrover/python/util/state/__init__.py
  dlrover/python/util/state/memory_store.py
  dlrover/python/util/state/stats_backend.py
  dlrover/python/util/state/store_mananger.py
  dlrover/trainer/constants/platform_constants.py
  dlrover/trainer/examples/estimator_executor/local_ray_run.sh
  dlrover/trainer/examples/estimator_executor/prepare.py
  dlrover/trainer/mock/tf_process_scheduler.py
  dlrover/trainer/platform/starter.py
  dlrover/trainer/tensorflow/executor/base_executor.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tests/worker/tf_ray_worker_test.py
  dlrover/trainer/util/args_util.py
  dlrover/trainer/util/conf_util.py
  dlrover/trainer/worker/tf_ray_worker.py
Due: copyright_checker

add test case
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
  dlrover/python/master/stats/stats_backend.py
  dlrover/python/tests/log53508
  dlrover/python/tests/test_ray_scaler.py
  dlrover/python/tests/test_servicer.py
  log5507
  log5529
  log5549
  log5579
  log5601
  log5621
  log61
  test.json
Due: clang-format, copyright_checker

add test case
  .github/actions/dlrover-python-test/action.yml
Due: none

add test case
  dlrover/python/tests/log53508
  log5507
  log5529
  log5549
  log5579
  log5601
Due: none

add
  dlrover/python/tests/test_servicer.py
  dlrover/trainer/worker/tf_ray_worker.py
Due: copyright_checker

debug k8s monitor
  dlrover/go/brain/cmd/brain/main.go
  dlrover/go/brain/cmd/k8smonitor/main.go
  dlrover/go/brain/docker/brain.dockerfile
  dlrover/go/brain/docker/dlrover-tables.sql
  dlrover/go/brain/manifests/k8s/data-store-configmap.yaml
  dlrover/go/brain/manifests/k8s/k8s-watch-handler-configmap.yaml
  dlrover/go/brain/manifests/k8s/kube-monitor-configmap.yaml
  dlrover/go/brain/manifests/k8s/kube-monitor.yaml
  dlrover/go/brain/manifests/k8s/mysql-pv.yaml
  dlrover/go/brain/manifests/k8s/mysql.yaml
  dlrover/go/brain/pkg/config/command_config.go
  dlrover/go/brain/pkg/config/common.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_recorder.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_recorder_fake.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/job_ps_create_resource_optimizer.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/job_ps_create_resource_optimizer_test.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/job_ps_init_adjust_resource_optimizer.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/job_ps_init_adjust_resource_optimizer_test.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/job_worker_create_resource_optimizer.go
  dlrover/go/brain/pkg/optimizer/implementation/optimizer/job_worker_create_resource_optimizer_test.go
  dlrover/go/brain/pkg/platform/k8s/implementation/watchhandler/elasticjob_handler.go
  dlrover/go/brain/pkg/platform/k8s/implementation/watchhandler/elasticjob_node_handler.go
  dlrover/go/brain/pkg/platform/k8s/watcher/common/watch_reconciler.go
  dlrover/go/brain/pkg/platform/k8s/watcher/manager.go
  docs/deployment/k8s.md
Due: copyright_checker

remove ant image
  dlrover/go/brain/docker/brain.dockerfile
Due: none

add info
  .github/actions/dlrover-system-test-tf115/action.yaml
  dlrover/client/platform/ray/__int__.py
  dlrover/client/tests/platform/ray/run.py
  dlrover/client/tests/platform/ray/test_scheduling.py
  dlrover/proto/elastic_training.proto
  dlrover/python/common/node.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/watcher/factory.py
  dlrover/python/master/watcher/k8s_watcher.py
  dlrover/python/master/watcher/ray_watcher.py
  dlrover/python/scheduler/ray.py
  dlrover/python/tests/test_k8s_watcher.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_utils.py
  dlrover/python/util/reflect_util.py
  dlrover/trainer/examples/estimator_executor/local_ray_run.sh
  dlrover/trainer/examples/estimator_executor/prepare.py
  dlrover/trainer/mock/tf_process_scheduler.py
  dlrover/trainer/util/args_util.py
  dlrover/trainer/worker/tf_ray_worker.py
  log5621
  log61
Due: clang-format, copyright_checker

add info
  dlrover/trainer/examples/estimator_executor/log13693
  dlrover/trainer/examples/estimator_executor/log13705
  dlrover/trainer/examples/estimator_executor/log13706
  dlrover/trainer/examples/estimator_executor/log13707
  dlrover/trainer/examples/estimator_executor/ps_address_172.17.0.2:44153
  dlrover/trainer/mock/tf_process_scheduler.py
  dlrover/trainer/worker/tf_ray_worker.py
Due: copyright_checker

remove ant image
  docs/dev.md
Due: none

add info
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/stats/stats_backend.py
  dlrover/python/scheduler/ray.py
  dlrover/trainer/examples/estimator_executor/local_ray_run.sh
  dlrover/trainer/examples/estimator_executor/log13693
  dlrover/trainer/examples/estimator_executor/log13705
  dlrover/trainer/examples/estimator_executor/log13706
  dlrover/trainer/examples/estimator_executor/log13707
  dlrover/trainer/examples/estimator_executor/log36013
  dlrover/trainer/examples/estimator_executor/log36067
  dlrover/trainer/examples/estimator_executor/log36179
  dlrover/trainer/examples/estimator_executor/ps_address_172.17.0.2:44153
Due: copyright_checker

add info
  dlrover/trainer/examples/estimator_executor/log36013
  dlrover/trainer/examples/estimator_executor/log36067
  dlrover/trainer/examples/estimator_executor/log36179
Due: none

add info
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/tests/test_ray_client.py
  dlrover/python/tests/test_ray_watcher.py
Due: copyright_checker

Add the comparsion of the job yaml with TFJob
  README.md
  dlrover/python/common/node.py
  docs/figures/dlrover_vs_tfjob.jpg
Due: copyright_checker

run a master and actor experiment
  .isort.cfg
  dlrover/proto/elastic_training.proto
  dlrover/python/common/log.py
  dlrover/python/common/node.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/master.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/watcher/ray_watcher.py
  dlrover/python/scheduler/ray.py
  dlrover/python/tests/test.json
  dlrover/python/util/queue/queue.py
  dlrover/python/util/state/memory_store.py
  dlrover/trainer/examples/estimator_executor/conf.py
  dlrover/trainer/examples/estimator_executor/local_ray_run.sh
  dlrover/trainer/worker/tf_ray_worker.py
Due: clang-format, copyright_checker

run a master and actor experiment
  .github/actions/dlrover-system-test-tf115/action.yaml
  .github/actions/dlrover-system-test-tf2/action.yaml
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/util/actor_util/__init__.py
  dlrover/python/util/actor_util/parse_actor.py
  dlrover/trainer/examples/estimator_executor/mock_ray_run.sh
  dlrover/trainer/worker/tf_ray_worker.py
Due: copyright_checker

run a master and actor experiment
  .github/actions/dlrover-system-test-tf2/action.yaml
  .isort.cfg
  dlrover/client/tests/platform/ray/test_ray_submit_job.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/util/actor_util/__init__.py
  dlrover/python/util/actor_util/parse_actor.py
  dlrover/trainer/worker/tf_ray_worker.py
Due: copyright_checker

run a master and actor experiment
  dlrover/client/tests/platform/ray/demo.yaml
Due: none

run a master and actor experiment
  dlrover/client/tests/platform/ray/test_ray_submit_job.py
  dlrover/client/tests/platform/ray/test_scheduling.py
Due: copyright_checker

run a master and actor experiment
  dlrover/python/common/log.py
Due: copyright_checker

run a master and actor experiment
  dlrover/python/master/node/job_manager.py
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

run a master and actor experiment
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

run a master and actor experiment
  dlrover/python/common/constants.py
  dlrover/python/scheduler/ray.py
  dlrover/python/util/state/memory_store.py
Due: copyright_checker

fix format
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/util/queue/queue.py
  dlrover/trainer/platform/starter.py
  dlrover/trainer/tensorflow/executor/base_executor.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/util/conf_util.py
  dlrover/trainer/worker/tf_ray_worker.py
Due: copyright_checker

fix format
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
Due: copyright_checker
