Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

Fix docstring by comments
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Format codes
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Remove the round to test allgather with all nodes (#512)
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/python/tests/test_servicer.py
Due: clang-format, copyright_checker

README: How to use DLRover to train the user's model.
  README.md
  docs/deployment/controller.md
Due: none

make auto_accelerate running
  atorch/atorch/auto/accelerate.py
  atorch/atorch/auto/clip_grad_norm.py
  atorch/atorch/auto/model_context.py
  atorch/atorch/auto/opt_lib/amp_optimization.py
  atorch/atorch/auto/opt_lib/module_replace_optimization.py
  atorch/atorch/auto/opt_lib/utils.py
  atorch/atorch/auto/opt_lib/zero_optimization.py
  atorch/atorch/auto/strategy.py
  atorch/atorch/distributed/distributed.py
  atorch/atorch/distributed/hooks.py
  atorch/atorch/distributed/launch.py
  atorch/atorch/distributed/run.py
  atorch/atorch/modules/transformer/inject.py
  atorch/atorch/modules/transformer/layers.py
  atorch/atorch/tests/auto_accelerate_test.py
  atorch/atorch/tests/distributed_test.py
  atorch/atorch/tests/model_context_test.py
  atorch/atorch/tests/test_utils.py
  atorch/atorch/tests/toy_module.py
  atorch/atorch/utils/meta_model_utils.py
Due: none

fix F401
  atorch/atorch/distributed/distributed.py
Due: none

Fix the introduction of dynamic data sharding
  README.md
Due: none

make ut running
  atorch/atorch/auto/model_context.py
  atorch/atorch/distributed/.distributed.py.swp
  atorch/atorch/distributed/distributed.py
  atorch/atorch/fault_tolerance/__init__.py
  atorch/atorch/fault_tolerance/api.py
  atorch/atorch/fault_tolerance/custom_agent.py
  atorch/atorch/fault_tolerance/hanging_detector.py
  atorch/atorch/tests/amp_test.py
  atorch/atorch/utils/meta_overrides.py
  atorch/atorch/utils/sharding_spec.py
Due: none

fix ut
  atorch/atorch/tests/auto_accelerate_test.py
Due: none

Fix recovering tasks
  dlrover/python/master/shard/task_manager.py
Due: copyright_checker

Fix test cases
  dlrover/python/master/shard/task_manager.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_utils.py
Due: copyright_checker

Fix: NodeMeta object has no attribute gpu_num
  dlrover/python/master/servicer.py
Due: copyright_checker

Add test cases to test query_running_nodes
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

Fix: NodeMeta object has no attribute gpu_num (#521)
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

Fix: recover timeout tasks. (#522)
  dlrover/python/master/shard/task_manager.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_utils.py
Due: copyright_checker

Add test cases to relaunch a master node by the chiefmanager
  dlrover/python/master/shard/task_manager.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_worker_manager.py
Due: copyright_checker

Add test cases to relaunch a master node by the chiefmanager. (#524)
  dlrover/python/master/shard/task_manager.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_worker_manager.py
Due: copyright_checker

modify agd
  atorch/atorch/optimizers/agd.py
Due: none

Fix isort error.
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

Fix metadata error in yaml.
  dlrover/examples/torch_nanogpt_debug_job.yaml
Due: none

Nanogpt job yamls for debugging and test.
  dlrover/examples/torch_nanogpt_debug_job.yaml
  dlrover/examples/torch_nanogpt_job copy.yaml
Due: none

Modify the code structure to add a parameter interpreter.
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

GPT 2 build and training code.
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

Formatting code with black.
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

nanogpt docker file.
  docker/pytorch/nanogpt.dockerfile
Due: none

Formatting code format & pass precommit.
  model_zoo/pytorch/nanoGPT/model.py
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

Remove whitespace before :.
  model_zoo/pytorch/nanoGPT/model.py
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

Add # noqa: E203 E501 to skip lines.
  model_zoo/pytorch/nanoGPT/model.py
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

GPT 2 model definition.
  model_zoo/pytorch/nanoGPT/model.py
Due: copyright_checker

Rename nanogpt job yaml.
  dlrover/examples/torch_nanogpt_job.yaml
Due: none

Formatting code format for flake8.
  dlrover/examples/torch_nanogpt_debug_job.yaml
  dlrover/examples/torch_nanogpt_job.yaml
  model_zoo/pytorch/nanoGPT/model.py
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

Fix mypy check error.
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

Fix by comments
  README.md
Due: none

[Bugfix]The task manager does not recover failed tasks
  dlrover/python/master/shard/task_manager.py
Due: copyright_checker

README: How to use DLRover to train the user's model. (#518)
  README.md
  docs/deployment/controller.md
Due: none

[Bugfix]The task manager does not recover failed tasks (#525)
  dlrover/python/master/shard/task_manager.py
Due: copyright_checker

Update auto_accelerate to make it running with load_strategy (#519)
  atorch/atorch/auto/accelerate.py
  atorch/atorch/auto/clip_grad_norm.py
  atorch/atorch/auto/model_context.py
  atorch/atorch/auto/opt_lib/amp_optimization.py
  atorch/atorch/auto/opt_lib/module_replace_optimization.py
  atorch/atorch/auto/opt_lib/utils.py
  atorch/atorch/auto/opt_lib/zero_optimization.py
  atorch/atorch/auto/strategy.py
  atorch/atorch/distributed/.distributed.py.swp
  atorch/atorch/distributed/distributed.py
  atorch/atorch/distributed/hooks.py
  atorch/atorch/distributed/launch.py
  atorch/atorch/distributed/run.py
  atorch/atorch/fault_tolerance/__init__.py
  atorch/atorch/fault_tolerance/api.py
  atorch/atorch/fault_tolerance/custom_agent.py
  atorch/atorch/fault_tolerance/hanging_detector.py
  atorch/atorch/modules/transformer/inject.py
  atorch/atorch/modules/transformer/layers.py
  atorch/atorch/tests/amp_test.py
  atorch/atorch/tests/auto_accelerate_test.py
  atorch/atorch/tests/distributed_test.py
  atorch/atorch/tests/model_context_test.py
  atorch/atorch/tests/test_utils.py
  atorch/atorch/tests/toy_module.py
  atorch/atorch/utils/meta_model_utils.py
  atorch/atorch/utils/meta_overrides.py
  atorch/atorch/utils/sharding_spec.py
Due: none

Fix annotation formatting.
  model_zoo/pytorch/nanoGPT/model.py
  model_zoo/pytorch/nanoGPT/nanoGPT.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$ and not (dlrover/go/brain/vendor) and not (^atorch/|^tfplus/)
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$ and not (dlrover/go/brain/vendor) and not (^atorch/|^tfplus/)
  copyright_checker: any of: \.(go|py|sh)$ and not (\.(deepcopy.go|pb.go)$) and not (^atorch/|^tfplus/)
