Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

update legarcy comments.
  dlrover/go/brain/pkg/datastore/implementation/utils/mysql.go
  dlrover/go/brain/pkg/platform/k8s/implementation/watchhandler/utils/filter_request_funcs.go
  dlrover/go/brain/pkg/proto/brain.pb.go
  dlrover/proto/brain.proto
  dlrover/proto/elastic_training.proto
  dlrover/python/brain/client.py
  dlrover/python/common/grpc.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/monitor/resource.py
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/elastic_agent/tensorflow/hooks.py
  dlrover/python/master/node/status_flow.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/scheduler/job.py
  dlrover/python/scheduler/kubernetes.py
  docs/design/elastic-training-operator.md
  model_zoo/tf_estimator/iris_dnn_elastic.py
  model_zoo/tf_estimator/iris_dnn_local.py
Due: clang-format, copyright_checker

fix gen_model_dir error
  dlrover/trainer/tensorflow/executor/estimator_executor.py
Due: copyright_checker

reformat
  dlrover/trainer/tensorflow/executor/estimator_executor.py
Due: copyright_checker

Add details of dynamic data sharding
  README.md
  docs/figures/dynamic-data-sharding.jpg
Due: none

reformat
  dlrover/client/tests/platform/ray/run.py
  dlrover/proto/elastic_training.proto
  dlrover/python/common/node.py
  dlrover/python/master/servicer.py
  dlrover/python/master/watcher/ray_watcher.py
  dlrover/python/util/state/stats_backend.py
Due: clang-format, copyright_checker

fix
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

rebase
  README.md
Due: none

polish readme.md
  README.md
Due: none

remove figure
  README.md
Due: none

Remove elasticdl
  dlrover/python/brain/client.py
  dlrover/python/common/constants.py
  docs/design/training-master.md
Due: copyright_checker

reformat
  README.md
Due: none

Set the worker group resource into a ScalePlan
  dlrover/python/master/node/worker.py
  dlrover/python/master/scaler/base_scaler.py
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

Implement an auto-scaler for PS Training
  dlrover/python/master/monitor/speed_monitor.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/tests/test_job_auto_scaler.py
  dlrover/python/tests/test_job_manager.py
Due: copyright_checker

Format codes
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/tests/test_job_auto_scaler.py
Due: copyright_checker

Format codes
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_servicer.py
Due: copyright_checker

Add an empty line at the end
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

Format codes
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_stats_collector.py
Due: copyright_checker

Call ray.init()
  dlrover/python/master/scaler/ray_scaler.py
Due: copyright_checker

Rename a method by comments
  dlrover/python/master/monitor/speed_monitor.py
  dlrover/python/master/stats/job_collector.py
Due: copyright_checker

Remove the method to ignore the PS plan
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

Rename chief_started to autoscaling_started
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

Fix pre-commit
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

Format imports
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

fix ray init
  dlrover/python/master/scaler/ray_scaler.py
  dlrover/python/scheduler/ray.py
Due: copyright_checker

Set exit_reason to OOM if exit_code=247
  dlrover/python/common/constants.py
  dlrover/python/master/watcher/k8s_watcher.py
Due: copyright_checker

[Refactor] Rename _init_nodes to create_node_queue
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/watcher/k8s_watcher.py
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

Rename get_uncreate_pod
  dlrover/python/master/scaler/pod_scaler.py
Due: copyright_checker

Format codes
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/watcher/k8s_watcher.py
Due: copyright_checker

Ignore the built manger file
  .gitignore
Due: none

Revert gitignore
  .gitignore
Due: none

Add ray in requirements of setup
  dlrover/requirements.txt
Due: none

Remove logs
  dlrover/python/master/node/job_manager.py
Due: copyright_checker

Start the master server in prepare method
  dlrover/python/master/master.py
Due: copyright_checker

Simplify logs
  dlrover/python/master/node/ps.py
Due: copyright_checker

Remove logs
  dlrover/python/master/node/ps.py
Due: copyright_checker

test cluster mode
  dlrover/go/brain/cmd/brain/main.go
  dlrover/go/brain/cmd/k8smonitor/main.go
  dlrover/go/brain/manifests/k8s/brain-service-configmap.yaml
  dlrover/go/brain/pkg/config/command_config.go
  dlrover/go/brain/pkg/config/common.go
  dlrover/go/brain/pkg/datastore/manager.go
  dlrover/go/brain/pkg/datastore/manager_test.go
  dlrover/go/brain/pkg/server/server.go
Due: copyright_checker

Add test cases for TFCONFIG
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

Format codes
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

add deeprec deepfm example
  .isort.cfg
  dlrover/trainer/examples/deepfm_deeprec/data_kaggle_ad_ctr_train.csv
  dlrover/trainer/examples/deepfm_deeprec/deepfm.py
  dlrover/trainer/examples/deepfm_deeprec/deepfm_deeprec_conf.py
  dlrover/trainer/examples/deepfm_deeprec/run.sh
  dlrover/trainer/platform/starter.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$, but not: dlrover/go/brain/vendor
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: dlrover/go/brain/vendor
  copyright_checker: any of: \.(go|py|sh)$, but not: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
