Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        # yamllint disable-line rule:line-length
        exclude: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (elasticdl/python/tests/data|operator/config|dlrover/go/brain/vendor)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

Disable fix-batch-size
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

A glob to introduce how to auto-scale a DeepRec distributed job
  docs/blogs/deeprec_autoscale_cn.md
Due: none

Polish the arch
  docs/figures/dlrover-overview.jpg
Due: none

Polish the tutorical to sumbit a PS job on ACK
  README.md
  dlrover/examples/deepctr_manual_scale_job.yaml
  docs/tutorial/dlrover_cloud.md
Due: none

Rename file
  docs/tutorial/ps_on_cloud.md
Due: none

Rename
  docs/tutorial/tf_ps_on_cloud.md
Due: none

Fix the title
  docs/tutorial/tf_ps_on_cloud.md
Due: none

Tutorial to introduce how to submit a torch job
  README.md
  docs/tutorial/torch_allreduce_on_cloud.md
Due: none

Fix by comments
  docs/blogs/deeprec_autoscale_cn.md
Due: none

Fix by comments
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

modify
  docs/blogs/deeprec_autoscale_cn.md
Due: none

Get rank and world size by dist
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

polish
  docs/blogs/deeprec_autoscale_cn.md
Due: none

Format codes
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

add intro
  docs/blogs/deeprec_autoscale_cn.md
Due: none

Format codes
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/troch/__init__.py
  dlrover/python/elastic_agent/troch/master_kv_store.py
  dlrover/python/elastic_agent/troch/rdzv_backend.py
  dlrover/python/master/elastic_training/kv_store_service.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/master.py
  dlrover/python/master/servicer.py
Due: clang-format, copyright_checker

Add test cases for rdzv_backends
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/__init__.py
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/master.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_torch_rdzv.py
Due: copyright_checker

Format codes
  dlrover/python/tests/test_torch_rdzv.py
Due: copyright_checker

Fix test cases
  .github/actions/dlrover-python-test/action.yml
  dlrover/python/master/elastic_training/rdzv_service.py
Due: copyright_checker

Register dlrover backend
  dlrover/python/elastic_agent/torch/__init__.py
Due: copyright_checker

Add aci to build wheel
  .aci.yml
  LEGAL.md
Due: none

set image version and tag to be v0.1.0
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/examples/deepctr_job.yaml
  dlrover/examples/deepctr_manual_scale_job.yaml
Due: none

set image version and tag to be v0.1.0
  docs/dev.md
Due: none

Fix to get key-value from master store
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/__init__.py
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/elastic_agent/torch/prepare.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/elastic_training/kv_store_service.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_torch_rdzv.py
Due: clang-format, copyright_checker

Fix to set RDZV_ENPOINT into envs of Pods
  dlrover/go/operator/pkg/controllers/training/task.go
Due: copyright_checker

Implete KVStore on the dlrover master
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/elastic_training/kv_store_service.py
  dlrover/python/master/elastic_training/rdzv_service.py
Due: copyright_checker

Format codes
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/elastic_training/kv_store_service.py
  dlrover/python/master/elastic_training/rdzv_service.py
Due: copyright_checker

Fix test cases
  dlrover/python/tests/test_torch_rdzv.py
Due: copyright_checker

Remove unused class definitions
  dlrover/python/elastic_agent/torch/rdzv_backend.py
Due: copyright_checker

Set the image of mater to tag v0.1.0
  dlrover/go/operator/config/default/manager_auth_proxy_patch.yaml
Due: none

Fix to sychronize gradients
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Rank 0 worker reports its IP as the master addr
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/servicer.py
  dlrover/trainer/torch/elastic.py
  model_zoo/pytorch/mnist_cnn.py
Due: clang-format, copyright_checker

An example to submit job using DLRover master as backend
  dlrover/examples/torch_mnist_master_backend_job.yaml
Due: none

Format codes
  dlrover/python/master/elastic_training/rdzv_service.py
Due: copyright_checker

fix dependency conflicts between kubernetes and requests both requiring urllib3. fix dependency conflicts between grpcio-tool and ray both requiring protobuf.
  dlrover/requirements.txt
Due: none

Add the plan in the future
  docs/blogs/deeprec_autoscale_cn.md
Due: none

Polish the plan
  docs/blogs/deeprec_autoscale_cn.md
Due: none

Implement DeepCTR models
  .isort.cfg
  model_zoo/tf_estimator/criteo_deeprec/__init__.py
  model_zoo/tf_estimator/criteo_deeprec/data_kaggle_ad_ctr_train.csv
  model_zoo/tf_estimator/criteo_deeprec/deepctr.py
  model_zoo/tf_estimator/criteo_deeprec/deepfm.py
  model_zoo/tf_estimator/criteo_deeprec/run.sh
  model_zoo/tf_estimator/criteo_deeprec/train_conf.py
  model_zoo/tf_estimator/layers.py
Due: copyright_checker
