Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

add abstract class
  model_zoo/tf_estimator/estimator_executor/conf.py
Due: copyright_checker

add abstract class
  docs/tutorial/add_custom_reader.md
Due: none

add abstract class
  dlrover/trainer/tensorflow/reader/base_reader.py
  dlrover/trainer/tensorflow/reader/file_reader.py
  dlrover/trainer/tensorflow/util/dataset_util.py
  dlrover/trainer/tensorflow/util/reader_util.py
  model_zoo/tf_estimator/deepfm_tf/deepfm_conf.py
  model_zoo/tf_estimator/estimator_executor/conf.py
Due: copyright_checker

add abstract class
  .github/actions/dlrover-system-test-deeprec/action.yaml
  dlrover/trainer/tests/tensorflow/util/reader_util_test.py
  model_zoo/tf_estimator/criteo_deeprec/train_conf.py
  model_zoo/tf_estimator/deepfm_tf/deepfm_conf.py
Due: copyright_checker

add abstract class
  .github/actions/dlrover-system-test-deeprec/action.yaml
  .github/workflows/main.yml
Due: none

add abstract class
  .github/actions/dlrover-system-test-criteo-deeprec/action.yaml
  .github/actions/dlrover-system-test-deepfm/action.yaml
Due: none

add abstract class
  dlrover/trainer/tensorflow/util/dataset_util.py
  docs/tutorial/add_custom_reader.md
  model_zoo/tf_estimator/deepfm_tf/deepfm_conf.py
  model_zoo/tf_estimator/estimator_executor/conf.py
Due: copyright_checker

add reader
  dlrover/trainer/tensorflow/reader/base_reader.py
  dlrover/trainer/tensorflow/reader/file_reader.py
  docs/tutorial/estimator.md
Due: copyright_checker

add reader
  docs/tutorial/add_custom_reader.md
Due: none

add abstract class
  dlrover/trainer/tensorflow/reader/base_reader.py
Due: copyright_checker

add test case
  dlrover/trainer/tensorflow/reader/file_reader.py
  model_zoo/tf_estimator/deepfm_tf/data_kaggle_ad_ctr_train.csv
Due: copyright_checker

add seperator
  dlrover/trainer/tensorflow/util/dataset_util.py
  model_zoo/tf_estimator/estimator_executor/conf.py
Due: copyright_checker

add
  t
Due: none

Fix role creating in dlrover namespace.
  docs/deployment/controller.md
Due: none

Fix role creating in dlrover namespace. (#371)
  docs/deployment/controller.md
Due: none

Update hyperlink in README.md
  README.md
Due: none

Update hyperlink in README.md (#372)
  README.md
Due: none

Adjust the number of worker base 2
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_job_auto_scaler.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_sync_service.py
  dlrover/python/tests/test_torch_rdzv.py
  dlrover/python/tests/test_utils.py
Due: clang-format, copyright_checker

Rename the image tag to master
  dlrover/go/operator/config/default/manager_auth_proxy_patch.yaml
  dlrover/go/operator/config/manifests/bases/deployment.yaml
  docs/developer_guide.md
  docs/tutorial/torch_allreduce_on_cloud.md
Due: none

Fix rendezvous service to support torch elastic
  dlrover/examples/torch_mnist_master_backend_job.yaml
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_job_auto_scaler.py
  dlrover/python/tests/test_torch_rdzv.py
  docker/Dockerfile
Due: copyright_checker

Fix to update rendezvous states
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/master.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/worker.py
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Configure the evaluator in deepctr jobs
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/examples/deepctr_manual_scale_job.yaml
Due: none

Rename the image tag to master (#373)
  dlrover/go/operator/config/default/manager_auth_proxy_patch.yaml
  dlrover/go/operator/config/manifests/bases/deployment.yaml
  docs/developer_guide.md
  docs/tutorial/torch_allreduce_on_cloud.md
Due: none

Implement a resource checker to get available number of workers
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/cluster/__init__.py
  dlrover/python/master/cluster/quota.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/trainer/torch/elastic.py
Due: copyright_checker

Format codes
  dlrover/python/master/cluster/quota.py
  dlrover/python/master/node/job_auto_scaler.py
Due: copyright_checker

Format codes
  dlrover/go/operator/pkg/controllers/training/task.go
Due: copyright_checker

Fix the image of mnist
  dlrover/examples/torch_mnist_master_backend_job.yaml
Due: none

Fix test cases
  dlrover/python/tests/test_job_auto_scaler.py
Due: copyright_checker

Fix the start ID of pod
  dlrover/go/operator/pkg/controllers/training/task.go
Due: copyright_checker

Fit to get the max ID of pods
  dlrover/go/operator/pkg/controllers/training/task.go
Due: copyright_checker

Sleep 30s to start auto-scaling
  dlrover/python/master/cluster/__init__.py
  dlrover/python/master/cluster/quota.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/tests/test_job_auto_scaler.py
Due: copyright_checker

Clear KV store if the worker group changes
  dlrover/python/master/cluster/__init__.py
  dlrover/python/master/elastic_training/kv_store_service.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/servicer.py
Due: copyright_checker

Add an empty line
  dlrover/go/operator/pkg/controllers/training/task.go
Due: copyright_checker

Remove unused imports
  dlrover/python/master/servicer.py
Due: copyright_checker

Get the number of alive workers by listing pods
  dlrover/go/operator/pkg/controllers/training/task.go
Due: copyright_checker

Configure the evaluator in deepctr jobs (#375)
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/examples/deepctr_manual_scale_job.yaml
Due: none

Set the max number of shards for sync training.
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/trainer/torch/elastic_dataset.py
Due: copyright_checker

Adjust the number of worker base 2. (#377)
  dlrover/examples/torch_mnist_master_backend_job.yaml
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/rdzv_backend.py
  dlrover/python/master/cluster/__init__.py
  dlrover/python/master/cluster/quota.py
  dlrover/python/master/elastic_training/rdzv_service.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_job_auto_scaler.py
  dlrover/python/tests/test_job_manager.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_sync_service.py
  dlrover/python/tests/test_torch_rdzv.py
  dlrover/python/tests/test_utils.py
  dlrover/trainer/torch/elastic.py
  docker/Dockerfile
Due: clang-format, copyright_checker

Fix the start ID to create Pods. (#378)
  dlrover/go/operator/pkg/controllers/training/task.go
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$, but not: dlrover/go/brain/vendor
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: dlrover/go/brain/vendor
  copyright_checker: any of: \.(go|py|sh)$, but not: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
