Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v0.701
#     hooks:
#       - id: mypy
#         args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: easydl/go/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: easydl/go/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: easydl/go/vendor
      - id: go-lint
        exclude: easydl/go/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: easydl/go/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        exclude: (easydl/go/pkg/proto/easydl.pb.go|easydl/go/vendor)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (elasticdl/python/tests/data|operator/config)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (easydl/go/vendor)
        args: [-s, .markdownlint.yaml]

Rename TF_MASTER to CHIEF
  dlrover/python/master/node/job_config.py
  dlrover/python/master/node/node_manager.py
Due: copyright_checker

Format codes
  dlrover/python/common/node.py
Due: copyright_checker

add streaming dataset splitter
  dlrover/python/master/shard_manager/base_dataset_manager.py
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/master/shard_manager/streaming_dataset_manager.py
  dlrover/python/tests/test_dataset_splitter.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

Update dev.md
  docs/dev.md
Due: none

Format codes
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_k8s_elasticjob.py
Due: copyright_checker

remove notes
  dlrover/python/master/shard_manager/batch_dataset_manager.py
Due: copyright_checker

Implement PSManager to manage PS nodes
  dlrover/python/common/constants.py
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/node/ps_manager.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/resource/optimizer.py
  dlrover/python/master/scaler/k8s_scaler.py
  dlrover/python/master/watcher/base_watcher.py
  dlrover/python/master/watcher/factory.py
  dlrover/python/scheduler/factory.py
  dlrover/python/scheduler/job.py
  dlrover/python/tests/test_k8s_elasticjob.py
  dlrover/python/tests/test_k8s_scaler.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_pod_watcher.py
  dlrover/python/tests/test_ps_manager.py
  dlrover/python/tests/test_utils.py
Due: copyright_checker

fix comments
  docs/design/dlrover-overview.md
Due: none

add new table design
  docs/design/db-design.md
Due: none

Ignore binaries of elasticjob
  .gitignore
Due: none

add streaming data splitter and manager doc
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/master/shard_manager/streaming_dataset_manager.py
  docs/design/streaming-data-splitter-and-manager.md
Due: copyright_checker

Format codes
  dlrover/python/master/node/job_config.py
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/node/training_node.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/resource/optimizer.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_ps_manager.py
  dlrover/python/tests/test_worker_manager.py
Due: copyright_checker

update
  dlrover/go/brain/pkg/clustermonitor/api/cluster_monitor.go
Due: copyright_checker

add job node table design
  docs/design/db-design.md
Due: none

Auto scale resource of a job
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/resource/optimizer.py
  dlrover/python/master/scaler/elasticjob_scaler.py
  dlrover/python/master/scaler/factory.py
  dlrover/python/master/scaler/pod_scaler.py
Due: copyright_checker

streaming_data_manager_design
  dlrover/python/master/shard_manager/base_dataset_manager.py
  dlrover/python/master/shard_manager/batch_dataset_manager.py
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/master/shard_manager/streaming_dataset_manager.py
Due: copyright_checker

reformat
  dlrover/python/master/shard_manager/base_dataset_manager.py
  dlrover/python/master/shard_manager/batch_dataset_manager.py
  dlrover/python/master/shard_manager/dataset_splitter.py
  dlrover/python/master/shard_manager/streaming_dataset_manager.py
  dlrover/python/master/shard_manager/task_manager.py
  dlrover/python/tests/test_dataset_splitter.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

fix typo
  dlrover/python/master/shard_manager/dataset_splitter.py
Due: copyright_checker

Format codes
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/node/training_node.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/scaler/factory.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/watcher/pod_watcher.py
Due: copyright_checker

reformat
  dlrover/python/tests/test_dataset_splitter.py
  dlrover/python/tests/test_dataset_task_manager.py
Due: copyright_checker

update
  dlrover/go/brain/go.mod
  dlrover/go/brain/pkg/clustermonitor/implementation/client/elastic_job_client.go
  dlrover/go/brain/pkg/clustermonitor/implementation/k8s/monitor.go
  dlrover/go/brain/pkg/clustermonitor/implementation/worker/elastic_job_saver.go
  dlrover/go/elasticjob_operator/go.mod
Due: copyright_checker

Scale Pods
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/node/training_node.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/resource/optimizer.py
  dlrover/python/master/scaler/base_scaler.py
  dlrover/python/master/scaler/elasticjob_scaler.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/watcher/pod_watcher.py
Due: copyright_checker

Rename operator module
  dlrover/go/operator/PROJECT
  dlrover/go/operator/api/v1alpha1/elasticjob_types.go
  dlrover/go/operator/api/v1alpha1/scaler_types.go
  dlrover/go/operator/api/v1alpha1/zz_generated.deepcopy.go
  dlrover/go/operator/go.mod
  dlrover/go/operator/main.go
  dlrover/go/operator/pkg/common/condition.go
  dlrover/go/operator/pkg/common/resource.go
  dlrover/go/operator/pkg/common/resource_test.go
  dlrover/go/operator/pkg/controllers/elasticjob_controller.go
  dlrover/go/operator/pkg/controllers/master/master.go
  dlrover/go/operator/pkg/controllers/master/master_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/chief.go
  dlrover/go/operator/pkg/controllers/psstrategy/chief_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/evaluator.go
  dlrover/go/operator/pkg/controllers/psstrategy/evaluator_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/ps.go
  dlrover/go/operator/pkg/controllers/psstrategy/ps_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/strategy.go
  dlrover/go/operator/pkg/controllers/psstrategy/strategy_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/worker.go
  dlrover/go/operator/pkg/controllers/psstrategy/worker_test.go
  dlrover/go/operator/pkg/controllers/scaler_controller.go
  dlrover/go/operator/pkg/controllers/suite_test.go
Due: copyright_checker

Restore operator module name
  dlrover/go/operator/PROJECT
  dlrover/go/operator/api/v1alpha1/elasticjob_types.go
  dlrover/go/operator/api/v1alpha1/scaler_types.go
  dlrover/go/operator/api/v1alpha1/zz_generated.deepcopy.go
  dlrover/go/operator/go.mod
  dlrover/go/operator/main.go
  dlrover/go/operator/pkg/common/condition.go
  dlrover/go/operator/pkg/common/resource.go
  dlrover/go/operator/pkg/common/resource_test.go
  dlrover/go/operator/pkg/controllers/elasticjob_controller.go
  dlrover/go/operator/pkg/controllers/master/master.go
  dlrover/go/operator/pkg/controllers/master/master_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/chief.go
  dlrover/go/operator/pkg/controllers/psstrategy/chief_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/evaluator.go
  dlrover/go/operator/pkg/controllers/psstrategy/evaluator_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/ps.go
  dlrover/go/operator/pkg/controllers/psstrategy/ps_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/strategy.go
  dlrover/go/operator/pkg/controllers/psstrategy/strategy_test.go
  dlrover/go/operator/pkg/controllers/psstrategy/worker.go
  dlrover/go/operator/pkg/controllers/psstrategy/worker_test.go
  dlrover/go/operator/pkg/controllers/scaler_controller.go
  dlrover/go/operator/pkg/controllers/suite_test.go
Due: copyright_checker

remove dummy code
  dlrover/python/master/shard/dataset_splitter.py
  dlrover/python/master/shard/streaming_dataset_manager.py
Due: copyright_checker

Implement a PodScaler to scale up/down Pods
  dlrover/python/common/constants.py
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/node/ps.py
  dlrover/python/master/node/training_node.py
  dlrover/python/master/node/worker.py
  dlrover/python/master/resource/job.py
  dlrover/python/master/scaler/base_scaler.py
  dlrover/python/master/scaler/elasticjob_scaler.py
  dlrover/python/master/scaler/factory.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/master/watcher/factory.py
  dlrover/python/master/watcher/pod_watcher.py
  dlrover/python/scheduler/factory.py
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_k8s_elasticjob.py
  dlrover/python/tests/test_k8s_scaler.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_pod_scaler.py
  dlrover/python/tests/test_pod_watcher.py
  dlrover/python/tests/test_ps_manager.py
  dlrover/python/tests/test_resource_optimizer.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_utils.py
  dlrover/python/tests/test_worker_manager.py
Due: copyright_checker

Format codes
  dlrover/python/elastic_agent/monitor/resource.py
  dlrover/python/elastic_agent/monitor/training.py
  dlrover/python/elastic_agent/sharding/client.py
  dlrover/python/elastic_agent/tensorflow/elastic_ps.py
  dlrover/python/elastic_agent/tensorflow/hooks.py
Due: copyright_checker

Fix import paths and trainer-test
  .github/actions/trainer-test/action.yml
  dlrover/python/brain/client.py
  dlrover/python/master/master.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_task_manager.py
Due: copyright_checker

Fix trainer-test
  .github/actions/trainer-test/action.yml
  dlrover/proto/elastic_training.proto
Due: clang-format

install psutil
  .github/actions/trainer-test/action.yml
Due: none

add new table recorder
  dlrover/go/brain/pkg/datastore/implementation/base_datastore.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_metrics_recorder.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_metrics_recorder_fake.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_node_recorder.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_node_recorder_fake.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_recorder.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/job_recorder_fake.go
  dlrover/go/brain/pkg/utils/job.go
  docs/design/db-design.md
Due: copyright_checker

job watcher handler
  dlrover/go/brain/pkg/datastore/api/datastore.go
  dlrover/go/brain/pkg/datastore/implementation/base_datastore.go
  dlrover/go/brain/pkg/datastore/implementation/elasticjob_datastore.go
  dlrover/go/brain/pkg/datastore/implementation/utils/mysql.go
  dlrover/go/brain/pkg/datastore/recorder/mysql/client.go
  dlrover/go/brain/pkg/platform/k8s/implementation/watchhandler/elasticjob_handler.go
  dlrover/go/brain/pkg/platform/k8s/implementation/watchhandler/utils/filter_request_funcs.go
  dlrover/go/brain/pkg/platform/k8s/watcher/common/enqueue_object_filter.go
Due: copyright_checker

job watcher handler
  dlrover/go/brain/pkg/server/server.go
Due: copyright_checker

Read job parameters from the yaml of job
  dlrover/go/operator/api/v1alpha1/elasticjob_types.go
  dlrover/python/common/constants.py
  dlrover/python/common/node.py
  dlrover/python/master/args.py
  dlrover/python/master/main.py
  dlrover/python/master/master.py
  dlrover/python/master/node/node_manager.py
  dlrover/python/master/node/training_node.py
  dlrover/python/master/scaler/factory.py
  dlrover/python/master/shard/task_manager.py
  dlrover/python/master/watcher/factory.py
  dlrover/python/master/watcher/pod_watcher.py
  dlrover/python/scheduler/factory.py
  dlrover/python/scheduler/job.py
  dlrover/python/scheduler/kubernetes.py
  dlrover/python/tests/test_args.py
  dlrover/python/tests/test_job_params.py
  dlrover/python/tests/test_master.py
  dlrover/python/tests/test_node_manager.py
  dlrover/python/tests/test_ps_manager.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_utils.py
  dlrover/python/tests/test_worker_manager.py
Due: copyright_checker

Remove unused codes
  dlrover/python/tests/test_utils.py
Due: copyright_checker
