Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

Add the script to test network
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/elastic_agent/torch/network.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_elastic_training_agent.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/run_network_check.py
Due: clang-format, copyright_checker

Fix the round of network check rdzv
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/master_kv_store.py
  dlrover/python/elastic_agent/torch/network.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/run_network_check.py
Due: copyright_checker

Check whether the network is available
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/network.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/kv_store_service.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/main.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/training_node.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_elastic_training_agent.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/python/tests/test_servicer.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/run_network_check.py
Due: clang-format, copyright_checker

Format codes
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/trainer/torch/run_network_check.py
Due: copyright_checker

Format codes
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Fix test cases
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/tests/test_rdzv_manager.py
Due: copyright_checker

install torch 201
  .github/actions/dlrover-python-test/action.yml
Due: none

Implement rdzv manager for network check
  dlrover/python/common/constants.py
  dlrover/python/master/elastic_training/kv_store_service.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/main.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/node/training_node.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/python/tests/test_servicer.py
  dlrover/python/tests/test_torch_manager.py
Due: copyright_checker

Add docstring
  dlrover/proto/elastic_training.proto
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: clang-format, copyright_checker

Remove unused codes
  dlrover/python/master/elastic_training/kv_store_service.py
Due: copyright_checker

Remove annotation codes
  dlrover/python/master/node/training_node.py
Due: copyright_checker

Merge test cases
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/python/tests/test_torch_manager.py
Due: copyright_checker

Merge codes
  dlrover/python/master/elastic_training/rdzv_manager.py
Due: copyright_checker

Format codes
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/tests/test_rdzv_manager.py
Due: copyright_checker

Agent to check network before starting training processes
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/tests/test_elastic_training_agent.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/run_network_check.py
Due: copyright_checker

Rendezvous manager to help the node to check network. (#465)
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/main.py
  dlrover/python/master/master.py
  dlrover/python/master/node/event_callback.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/python/tests/test_servicer.py
Due: clang-format, copyright_checker

Fix test cases
  dlrover/python/tests/test_elastic_training_agent.py
Due: copyright_checker

install torch 2.0.1
  .github/actions/dlrover-python-test/action.yml
Due: none

Update the imaget for test
  .github/actions/dlrover-python-test/action.yml
  docker/ci.dockerfile
Due: none

Refactor the grpc method
  .github/actions/dlrover-python-test/action.yml
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/servicer.py
Due: clang-format, copyright_checker

Use py38 as base to build ci image
  docker/ci.dockerfile
Due: none

Fix test cases
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_rdzv_manager.py
Due: copyright_checker

Format codes
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/servicer.py
Due: copyright_checker

Agent to check network before starting training processes. (#466)
  .github/actions/dlrover-python-test/action.yml
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_elastic_training_agent.py
  dlrover/python/tests/test_rdzv_manager.py
  dlrover/trainer/torch/elastic_run.py
  dlrover/trainer/torch/run_network_check.py
  docker/ci.dockerfile
Due: clang-format, copyright_checker

Cast join timeout to int
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Cast join timeout to int. (#467)
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Use rank-id not node-id to build rdzv
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_elastic_training_agent.py
Due: clang-format, copyright_checker

Use rank id to join rendezvous
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/torch/training.py
Due: copyright_checker

Format codes
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/servicer.py
Due: copyright_checker

Fix test cases
  dlrover/go/operator/pkg/common/resource.go
  dlrover/python/common/constants.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/main.py
  dlrover/python/tests/test_pod_scaler.py
  dlrover/trainer/torch/run_network_check.py
Due: copyright_checker

Join rendezvous with the rank-id in the env. (#468)
  dlrover/go/operator/pkg/common/resource.go
  dlrover/proto/elastic_training.proto
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/elastic_training/rdzv_manager.py
  dlrover/python/master/main.py
  dlrover/python/master/servicer.py
  dlrover/python/tests/test_elastic_training_agent.py
  dlrover/python/tests/test_pod_scaler.py
  dlrover/trainer/torch/run_network_check.py
Due: clang-format, copyright_checker

Fix the vesion of pydantic for ray
  .github/actions/dlrover-client-test/action.yml
Due: none

Fix the vesion of pydantic for ray (#469)
  .github/actions/dlrover-client-test/action.yml
Due: none

Check whether args has network_check
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

Check whether args has network_check (#471)
  dlrover/trainer/torch/elastic_run.py
Due: copyright_checker

Add an example for ShardingClient
  dlrover/python/elastic_agent/sharding/client.py
Due: copyright_checker

Rename elasticjob-job to elasticjob.dlrover/name
  dlrover/go/operator/pkg/common/resource.go
Due: copyright_checker

A monitor to log the error of training process
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/elastic_agent/torch/training.py
  dlrover/python/master/monitor/error_monitor.py
  dlrover/python/master/node/job_manager.py
  dlrover/python/master/servicer.py
Due: clang-format, copyright_checker

Format codes
  dlrover/python/master/monitor/error_monitor.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$, but not: dlrover/go/brain/vendor
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: dlrover/go/brain/vendor
  copyright_checker: any of: \.(go|py|sh)$, but not: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
