Repository intelligent-machine-learning/dlrover: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
        exclude: dlrover/go/brain/vendor
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
        exclude: dlrover/go/brain/vendor
  - repo: https://github.com/dnephin/pre-commit-golang.git
    rev: v0.3.3
    hooks:
      - id: go-fmt
        exclude: dlrover/go/brain/vendor
      - id: go-lint
        exclude: dlrover/go/brain/vendor
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
        exclude: dlrover/go/brain/vendor
        files: \.(sh)$
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
        # yamllint disable-line rule:line-length
        exclude: (operator/api/v1alpha1/|operator/pkg/common/api/v1/|dlrover/go/brain/vendor)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
        exclude:
          (elasticdl/python/tests/data|operator/config|dlrover/go/brain/vendor)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node
        exclude: (dlrover/go/brain/vendor)
        args: [-s, .markdownlint.yaml]

Remoce codes to skip migrating PS
  dlrover/python/master/node/ps.py
Due: copyright_checker

fix comments
  docs/design/virtual-env.md
Due: none

Remove the function to optimize configured worker resource
  dlrover/python/master/node/job_auto_scaler.py
  dlrover/python/master/resource/job.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

add tf env util
  dlrover/trainer/tensorflow/util/tf_env_util.py
Due: copyright_checker

refactor tf_env_util
  dlrover/trainer/tensorflow/executor/base_executor.py
  dlrover/trainer/tensorflow/failover/tensorflow_failover.py
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

fix bug
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

add synchronization
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

fix sync
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
Due: copyright_checker

reformat
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/examples/scale_plan.yaml
  dlrover/go/brain/pkg/proto/brain.pb.go
  dlrover/proto/elastic_training.proto
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tensorflow/util/estimator_util.py
  dlrover/trainer/tensorflow/util/tf_env_util.py
Due: clang-format, copyright_checker

Log the grpc error to query optimization plan from the brain service
  dlrover/python/master/resource/brain_optimizer.py
Due: copyright_checker

fix
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/examples/scale_plan.yaml
  dlrover/proto/elastic_training.proto
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/elastic_training/sync_service.py
  dlrover/python/master/servicer.py
  dlrover/trainer/examples/deepfm_deeprec/deepfm_deeprec_conf.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
Due: clang-format, copyright_checker

Design to support Torch Distributed Elastic
  docs/design/support-torch-elastic.md
Due: none

add
  dlrover/examples/run.sh
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

add
  dlrover/examples/run.sh
  dlrover/python/master/elastic_training/sync_service.py
Due: copyright_checker

fix
  dlrover/trainer/examples/deepfm_deeprec/deepfm_deeprec_conf.py
Due: copyright_checker

add info
  dlrover/trainer/tensorflow/failover/tensorflow_failover.py
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

add
  dlrover/examples/scale_plan.yaml
  dlrover/trainer/examples/deepfm_deeprec/deepfm_deeprec_conf.py
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

add info
  dlrover/examples/scale_plan.yaml
  dlrover/python/master/servicer.py
  dlrover/trainer/examples/deepfm_deeprec/deepfm_deeprec_conf.py
  dlrover/trainer/tensorflow/executor/estimator_executor.py
  dlrover/trainer/tensorflow/util/estimator_util.py
Due: copyright_checker

add info
  dlrover/python/elastic_agent/master_client.py
  dlrover/python/master/servicer.py
Due: copyright_checker

fix log
  dlrover/trainer/tensorflow/executor/estimator_executor.py
Due: copyright_checker

fix log
  dlrover/examples/scale_plan.yaml
Due: none

fix log
  dlrover/examples/debug.sh
Due: copyright_checker

Set the relaunch count to the new node
  dlrover/python/master/node/training_node.py
Due: copyright_checker

Sample the used memory by the used of virtual_memory
  dlrover/python/common/constants.py
  dlrover/python/elastic_agent/monitor/resource.py
  dlrover/python/master/resource/brain_optimizer.py
  dlrover/python/master/servicer.py
  dlrover/python/master/stats/job_collector.py
  dlrover/python/tests/test_resource_optimizer.py
Due: copyright_checker

Set relaunch count to the new node
  dlrover/python/master/node/ps.py
Due: copyright_checker

Fix by comments
  docs/design/support-torch-elastic.md
Due: none

add
  dlrover/examples/deepctr_auto_scale_job.yaml
  dlrover/trainer/examples/torch_linear_regression/model_ddp.py
Due: copyright_checker

Remove codes to skip the resource configuration in plan
  dlrover/python/master/node/ps.py
Due: copyright_checker

Remove unused imports
  dlrover/python/master/node/ps.py
Due: copyright_checker

Fix Create service by rank-index
  dlrover/python/master/scaler/pod_scaler.py
Due: copyright_checker

Submit dockerfile to build the dlrover master
  docker/Dockerfile
Due: none

add torch example
  dlrover/examples/debug.md
Due: none

update
  dlrover/examples/iris_job.yaml
  dlrover/go/brain/docker/brain.dockerfile
  dlrover/go/brain/pkg/optimizer/manager.go
  dlrover/go/brain/pkg/server/server.go
  dlrover/python/brain/client.py
Due: copyright_checker

add torch example
  dlrover/examples/trlx_gpt.yaml
Due: none

add torch example
  .isort.cfg
  dlrover/examples/trlx_gpt.yaml
  dlrover/trainer/examples/torch_linear_regression/model_ddp.py
Due: copyright_checker

torch
  dlrover/examples/trlx_gpt.yaml
  dlrover/trainer/examples/torch_linear_regression/__init__.py
Due: copyright_checker

Set rank-index in the selector of service
  dlrover/go/operator/pkg/controllers/training/task.go
  dlrover/python/master/scaler/pod_scaler.py
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker

Fix test cases
  dlrover/go/operator/pkg/controllers/training/task_test.go
  dlrover/python/tests/test_pod_scaler.py
Due: copyright_checker
